[2015-06-07 20:39] travisperson opened #3 "Double Kill"
`go-ipfs` is notorious about not shutting down after receiving a kill signal, I think we should probably put a timeout that will trigger the send kill signal to force it to shutdown after a timeout.

[2015-06-07 21:04] jbenet commented on #3
am saddened by this. we should get our shit together there.

[2015-06-07 21:05] jbenet commented on #3
safe call for now.

[2015-06-07 21:08] travisperson commented on #3
I might try to sit down and see if I can make any headway through this issue this week. It's primarily after heave use, so it might be a context that is lagging behind.

[2015-06-10 04:30] harlantwood opened #4 "CI"
Let's set up circle CI and/or Travis.

Tests fail on my machine currently btw.

[2015-06-10 04:34] harlantwood commented on #4
Submitted a patch in #5

[2015-06-16 20:40] harlantwood commented on #4
Someone with admin on this repo can go here: https://circleci.com/gh/ipfs/node-ipfsd-ctl and click `Follow`

[2015-06-16 21:10] jbenet commented on #4
done

On Tue, Jun 16, 2015 at 1:40 PM, Harlan T Wood <notifications@github.com>
wrote:

[2015-06-16 21:21] #4 closed

[2015-06-17 23:30] krl opened #8 "test multiaddr grabbing from stdout"
We are grabbing multiaddrs to connect to from stdout, make sure this is not broken somewhere in a redesign.

[2015-06-22 02:02] jbenet commented on #8
yeah :+1:

[2015-06-22 02:03] jbenet commented on #8
btw, this is why it's important to _not break userspace_.

cc everyone working on ipfs

[2015-06-23 02:27] travisperson commented on #8
Make a sharness test :smile:

[2015-06-23 03:10] jbenet commented on #8
yep

[2015-06-23 03:10] #8 closed

[2015-08-26 22:47] diasdavid commented on #3
This should not be a problem anymore with subcomandante? Right?

[2015-08-27 00:29] jbenet commented on #3
@diasdavid i believe so. but not sure

[2015-08-27 00:29] #3 closed

[2015-09-18 03:28] noffle opened #13 "Hardcoded IPFS_EXEC path not always correct"
The current version of `ipfsd-ctl` hardcodes the following path:

`var IPFS_EXEC = __dirname + '/node_modules/.bin/ipfs'

This works fine when the module is at the root (e.g. git clone this repo and run `npm test`), but doesn't work when `ipfsd-ctl` is used as a dependency. In this `IPFS_EXEC` evaluates to

`node_modules/ipfsd-ctl/node_modules/.bin/ipfs`

however, if the root module depends on `go

[2015-09-18 04:14] noffle opened #15 "Expose the API daemon's host/port"
It would be great if the resultant host and port were exposed by the resultant `disposableApi` object, so that other modules using `ipfs-api` could make use of the disposable daemon.

[2015-09-18 04:20] jbenet commented on #13
Ah, because npm might put `go-ipfs` elsewhere, right?

[2015-09-18 04:21] jbenet commented on #15
indeed :+1:

[2015-09-18 04:32] #13 closed

[2015-09-18 04:51] noffle commented on #13
Right. It could end up at `node_modules/go-ipfs/bin/ipfs` or `node_modules/ipfsd-ctl/node_modules/go-ipfs/ifs`, for example.

[2015-09-18 22:17] #15 closed

[2015-09-22 11:18] dignifiedquire opened #18 "Need stats reports for electron-app"
It would be great to have the following data exposed to display them as stats:

- [x] Local storage size
- [x] Object count
- [x] Location

[2015-09-22 12:47] mappum opened #19 "`require('ipfsd-ctl')` causes programs to hang"
Simply requiring this module prevents programs from exiting. You can test this out by making a script that  only contains `require('ipfsd-ctl')` and running it.

[2015-09-23 01:24] mappum opened #20 "`go-ipfs` is required from the top-level module"
When the `ipfsd-ctl` package is installed and required by another module, the following error is given:
[code]

This happens because the `go-ipfs` dependency gets loaded as a direct dependency of the top-level module, not as a dependency of `ipfsd-ctl`. So even though `npm install` installs `go-ipfs` in `node_modules/ipfsd-ctl/node_modules/go-ipfs`, the `ipfsd-ctl` code tries to require it from `n

[2015-09-23 01:34] bcomnes commented on #20
What happens when we swap out requireResolve for https://github.com/substack/node-resolve ?

[2015-09-23 01:45] mappum commented on #20
It seems `require-resolve` is being used because it returns an object containing the root path. `resolve` seems to only return the path of the index script (the same as Node's built-in `require.resolve()`.

[2015-09-23 04:00] bcomnes commented on #20
Hrmm...

My only concern is that peerDependencies no longer install with npm3.

Could `go-ipfs` solve this issue by exporting a `path.resolve(__dirname + '/bin/ipfs')` ?

[2015-09-23 04:08] bcomnes commented on #20
It looks like this was already done, but kinda broken maybe? https://github.com/ipfs/npm-go-ipfs/pull/2

[2015-09-23 10:23] jbenet commented on #20
maybe try now? published new: `go-ipfs@0.3.7-3`

[2015-09-23 11:10] jbenet commented on #18
For "Local storage size" and "Object count" we could add an `ipfs repo stat` command to go-ipfs.

For "Location" -- can use the local node's addresses, and geocode them the same way the peers are.

[2015-09-23 14:39] bcomnes commented on #19
I noticed this last night.  Does it spawn immediately on import?  That might be holding the event loop open.

[![](http://38.media.tumblr.com/89d668b1f2d6ebd640fa0be2ce3f6631/tumblr_nel93wsDQa1s373hwo1_r1_500.gif)](http://nodejsreactions.tumblr.com/post/125353068495/when-you-cant-figure-out-whats-keeping-the-event)

[2015-09-23 14:40] bcomnes commented on #20
Which module is this occurring in?  (and with what version of npm?)

[2015-09-25 00:05] mappum commented on #20
I think this is just a problem with `require-resolve`. It is probably better to just get the `go-ipfs` path by doing something like `path.resolve(module.paths[0], 'go-ipfs')`.

[2015-09-25 02:59] bcomnes commented on #20
@mappum did the [upstream npm-go-ipfs changes](https://github.com/ipfs/npm-go-ipfs/pull/2) I put in fix this issue?

[2015-09-25 03:11] bcomnes commented on #20
It looks like this is still grabbing the older version of npm-go-ipfs.  @jbenet How come you didn't release that update as a patch?  (also what is with the dash in the version of npm-go-ipfs.)

[2015-09-25 03:20] bcomnes commented on #20
I think once the upstream changes are pulled it we should be good to go.  Tested on npm2 and 3: https://github.com/ipfs/node-ipfsd-ctl/pull/21

[2015-09-25 14:06] #20 closed

[2015-09-25 14:35] mappum commented on #20
![](https://media.giphy.com/media/12XTNObsY1pWQU/giphy.gif)

Woo! Thanks @bcomnes

[2015-09-25 16:19] VictorBjelkholm commented on #19
Oh, this is quite a horrible one. Anyone have an idea of why, so there is starting point for people wanting to help out?

[2015-09-25 16:22] bcomnes commented on #19
@VictorBjelkholm I would double check when the child process spawns.  I belive that will hold the event loop open until the child process returns or is killed.  See https://nodejs.org/api/child_process.html#child_process_child_process_spawn_command_args_options for more info on child process's spawn feature.

[2015-09-25 17:07] jbenet commented on #20
@bcomnes i want the version of the "`go-ipfs` npm module" to match the exact version of `go-ipfs`, so what i'm doing is using a hack like `<go-ipfs-version>-<npm-module-patch>` and this works because the compare should work, and because (to make sure) i just unpublish the older one, so when a user asks for `npm install go-ipfs@0.3.8` they get the latest of those.

ideally we would never have to pa

[2015-09-25 17:19] jbenet commented on #19
@bcomnes best use of that gif i've ever seen.

Is this in using `subcomandante`? there may be something wrong there-- it shoudn't hold the event loop.

[2015-09-25 17:19] mappum commented on #20
@jbenet We could automate that using the `preversion` script in `package.json`.

That is actually pretty useful, I've had that problem when maintaining forks of modules and not wanting the versions to diverge. We could make a module that contains the script and that automatically adds itself to `package.json`, then you can just bump with `npm version 0.1.2` (0.1.2) ... `npm version 0.1.2` (0.1.2-1

[2015-09-25 17:24] bcomnes commented on #20
I figured there was a reason, just wasn't sure.  Thanks for the explanation!  Also just realized modules below 1.0.0 (eg 0.5.0) disable npm semver range updates as well: http://semver.npmjs.com/

[2015-09-25 19:50] jbenet commented on #20
@mappum SGTM. want to PR it up to npm-go-ipfs ?

[2015-09-26 11:46] Dignifiedquire commented on #18
I've pulled https://github.com/Dignifiedquire/electron-app/blob/settings-hot/app/helpers.js from the webui into the electron-app. So the question is where to best have this code to avoid this duplication, maybe it makes sense to have it in here, or just as a format function of https://github.com/krl/ipfs-geoip. Thoughts?

[2015-09-27 05:03] jbenet commented on #18
yeah probably makes sense to put in geoip.

also -- https://github.com/Dignifiedquire/electron-app/blob/settings-hot/app/helpers.js#L1 is that ES6? or what? are we compiling into regular js for now, or what's the goal?

[2015-09-27 05:03] jbenet commented on #18
@krl would you mind moving ipfs-geoip into `ipfs/` org? or do you want to keep maintaining it? either way is fine but we probably will need to fork it to ipfs org to ensure it survives and gets long term maintained, etc

[2015-10-21 22:13] diasdavid commented on #19
Is this still a issue? I've used for other projects and it has been working fine, can you check @mappum @bcomnes ?

[2015-10-21 22:14] diasdavid commented on #18
Seems that Location is done https://github.com/ipfs/ipfs-geoip , ^5 to @Dignifiedquire

For the other two, @whyrusleeping what you think of adding those as CLI commands and exposing them through the http API as well?

[2015-10-21 22:15] diasdavid opened #24 "Enable starting a Node without using the bootstrap peers nor mdns (for controlled tests)"

[2015-10-21 22:27] whyrusleeping commented on #18
local storage size is implemented in a PR by @rht (ipfs/go-ipfs#1495) but i dont think its exposed via command line quite yet.

object count can be retrieved naively by piping `ipfs refs local` to `wc`. And any command we write for getting that number will do the same under the hood.

[2015-10-21 22:29] diasdavid commented on #18
Sounds good, we can use the node-ipfs-api to fetch that info :)  //cc @Dignifiedquire

[2015-10-21 22:44] diasdavid commented on #24
important to note:
[code]

[2015-10-21 22:55] mappum commented on #19
@diasdavid Yes, it's still an issue in 0.5.4.

[2015-10-24 02:09] diasdavid commented on #24
done on #25

[2015-10-24 02:09] #24 closed

[2015-10-27 09:13] jbenet commented on #18
counting internal to the node would avoid piping a ton of data out.

wonder if we should keep these counts in a repo object somewhere, cached and recomputed every once in a while.

[2015-10-27 10:13] jbenet commented on #24
maybe would be good to add  `--discovery none` and `--routing none` options

[2015-10-27 10:13] jbenet commented on #24
cc @whyrusleeping

[2015-10-29 00:44] diasdavid opened #26 "We are renaming the prefix of our JavaScript modules from 'node-' to 'js-'"
https://github.com/ipfs/js-ipfs/issues/32

[2015-10-29 00:44] #26 closed

[2015-10-29 00:44] diasdavid opened #27 "Documentation"

[2015-10-30 08:17] diasdavid opened #29 "Option to spawn daemons using the globally installed binary"
It would be sweet to be able to use the ipfs bin install in the host, so that we can select any IPFS version, even those who weren't released yet, to be tested with js-ipfs-api tests, as an example :)

[2015-11-01 09:40] jbenet commented on #29
indeed. right now i'm copying it in and it's annoying.

[2015-11-01 15:16] Dignifiedquire commented on #19
The reason for this is the usage of https://github.com/rynti/node-shutdown-handler/blob/master/shutdown-handler.js. Looking at the code this does not look like to be a good idea to use :(

[2015-11-02 08:39] #19 closed

[2015-11-06 22:24] dignifiedquire opened #32 "Latest version of `local` is broken"
I've just upgraded station, but it seems that `ipfsd.local` and the subsequent `node.startDaemon` are broken. When running on an already initialized state `node.startDaemon` just hangs without ever calling back

[2016-02-03 15:02] randomshinichi opened #49 "Simple example in README.md doesn't work"
When trying to run the disposable daemon example in the README.md, I get this:

[code]

[2016-05-05 17:41] elsehow commented on #49
Same error here

[2016-05-18 12:20] diasdavid opened #78 "Upgrade js-ipfsd-ctl to use bin-wrapper"
Our friends from Akasha made a great wrapper around the IPFS binary (https://github.com/AkashaProject/ipfs-connector/blob/master/src/IpfsBin.ts) that is way more portable when our current approach in js-ipfsd-ctl.

It uses https://www.npmjs.com/package/bin-wrapper which enables the app to select the binary for the right arch seamlessly (a issue we were hitting on electron).

Let's move to the bin-

[2016-05-18 12:25] haadcode commented on #78
What were the issues with Electron?

[2016-05-18 12:27] diasdavid commented on #78
@haadcode we were still working on how to get the right binary on Windows, once the electron app got 'packaged'

[2016-05-18 12:29] dignifiedquire commented on #78
Not only windows, any other OS than the one the packaging happens on. It is not entirely clear if this will solve all our issues, but most importantly I think these changes actually need to happen in https://github.com/ipfs/npm-go-ipfs

[2016-05-18 12:34] haadcode commented on #78
Am I understanding this correctly: the problem is that when packaging, only the package for the platform you're packaging on gets pulled in?

[2016-05-18 12:35] haadcode commented on #78
On that note, I've been wanting a local cache for the downloaded go-ipfs binary for a long time, so that the package doesn't get downloaded **every time**.

[2016-05-18 12:46] diasdavid commented on #78
@dignifiedquire I would even argue that npm-go-ipfs, go-ipfs-dep and js-ipfsd-ctl could all be just one module with binwrapper

[2016-05-18 14:13] #18 closed

[2016-06-14 23:05] diasdavid commented on #78
This required go-ipfs 0.4.3 to be released (Jun 29) and available through `dist.ipfs.io`. However, the work to make this migration can start immediately

[2016-07-04 13:12] haadcode commented on #78
If I understand bi-wrapper correctly, it'll download the correct bin *at runtime* (if needed, I suppose there's some caching happening), is that correct?

If so, would we use it to package different (platform) versions of js-ipfs-ctl or would it work so that in my program, I require js-ipfs-ctl which in turn would download the correct go-ipfs version *at runtime*?

My main concern here is that if

[2016-07-04 13:31] dignifiedquire commented on #78
Using `bin-wrapper` the download will happen the first time it is run, and is cached onward. If you want to create specific bundles packing the binary you should generate them yourselfs using https://www.npmjs.com/package/go-ipfs and pass the location of them to ipfsd-ctl using `IPFS_PATH`.

[2016-07-04 13:43] haadcode commented on #78
Ok, got it. This answers my questions re. how bin-wrapper works.

Not sure what you mean here.

The question of how it'll work with js-ipfsd-ctl is still open. Would a program that uses js-ipfsd-ctl need an internet connection to download ipfs binary before it can work/run?

[2016-07-04 14:07] haadcode commented on #78
Ok, had a call with @dignifiedquire and my questions got answered.

Basically, bin-wrapper will allow us to have the same build/workflow as now. If it becomes a problem for users to figure out the packaging (mainly w/ Electron), we'll address that in the build tools (eg. Gulp, Grunt).

All good, SGTM!

[2016-07-04 14:14] diasdavid commented on #78
@jgantunes is working on getting this migrated to bin-wrapper :) f

[2016-08-10 21:43] pfrazee opened #94 "Doesnt work in Electron apps that have used .asar to package themselves"
See https://github.com/electron/electron/issues/2708

The startDaemon() call never returns error or success. I'm fairly sure the issue is as in 2708: the relative paths fail.

[2016-08-10 21:45] pfrazee commented on #94
I solved this by not using .asar. I havent figured out why Electron folks bother with the .asar, so I'm not sure what the downside is for my change.

[2016-08-11 01:47] jbenet commented on #94
(My comment is Off topic)

I think it's supposed to be a bit better than tar, less error prone (stream
cutoff errors) and packed, etc. similar to our desires for .car

On Wed, Aug 10, 2016 at 17:45 Paul Frazee <notifications@github.com> wrote:

[2016-08-11 03:45] pfrazee commented on #94
Yeah but there's no compression in .asar, and osx is already bundled into a
dmg. Maybe it's for windows and linux? not sure

On Wed, Aug 10, 2016 at 8:47 PM, Juan Benet <notifications@github.com>
wrote:

[2016-08-12 15:31] pfrazee commented on #94
Aha:

http://electron.atom.io/docs/tutorial/application-packaging/

[2016-08-12 15:34] pfrazee commented on #94
It turns out, they'd even documented this specific issue: http://electron.atom.io/docs/tutorial/application-packaging/#executing-binaries-inside-asar-archive

[2016-08-15 20:59] diasdavid commented on #78
-> Follow on here https://github.com/ipfs/js-ipfsd-ctl/pull/89

[2016-08-15 21:00] diasdavid opened #95 "Enumerate the tests in order to make sure that execa is as robust as subcommandante"
As discussed in August 15 js-ipfs sprint meeting. @jbenet please enumerate all the tests you would like to see for: https://github.com/ipfs/js-ipfsd-ctl/pull/89

//cc @jgantunes

[2016-08-22 01:24] jbenet commented on #95
@diasdavid no sorry I don't have time for this in the next 2 weeks. If you
want me to this it probably won't get done for a while.
On Mon, Aug 15, 2016 at 17:00 David Dias <notifications@github.com> wrote:

[2016-08-22 01:25] jbenet commented on #95
The burden of proof also lies on whoever wants to _change_ the behavior.
Its up to that PR to ensure correctness
On Sun, Aug 21, 2016 at 21:24 Juan Benet <juan2@benet.ai> wrote:

[2016-08-22 01:29] jbenet commented on #78
It is critical that everything required to run should be downloaded _on
install_. Please think through the failure scenarios to understand why it's
a non starter to download go-ipfs on first run. I can enumerate them later
if you can't find any, but it's an important distributed systems lesson to
understand intuitively why this is a bad dsys design decision, and it won't
sink in if I just describe

[2016-08-22 08:01] haadcode commented on #78
install_.

This is exactly why I started this issue. As far as I understand, that should be the case. I was assured of that.

@diasdavid @dignifiedquire can you, once more, confirm this just to make sure we're all on the same page and those with concerns re. this can chill back? :)

[2016-08-22 08:19] diasdavid commented on #78
It is up to the user, but just to clarify

- by default: `npm install` won't trigger the ipfs bin download
- you can add the above feature with a post-install script on your package.json
- by default: the ipfs bin will be downloaded the first time the code is ran and cached

So, for e.g: in a traditional Mac OS X app install, a user would get the .dmg, drag the .app, click the  .app, it would open

[2016-08-22 08:34] diasdavid commented on #95
Ok, I'll handle this myself with @jgantunes

[2016-08-25 00:29] jbenet commented on #78
- So "no, it does not always automatically download go-ipfs when you `npm install <module>`". This is bad.
- We can add the post-install script ourselves to our own module, the same way that it works now. Can't we?
- Again, "download on first run" is an extremely brittle design decision, from a distributed systems perspective, and we should NOT default to this. This is like handing people a knife

[2016-08-25 08:34] JGAntunes commented on #78
@diasdavid @jbenet we can create a postinstall script which will run right after npm install and will download the respective binary.

[2016-08-26 03:09] jbenet commented on #78
Great, let's do that. (I believe it's how it works now). Thank you.
On Thu, Aug 25, 2016 at 04:34 João Antunes <notifications@github.com> wrote:

[2016-09-16 05:47] diasdavid opened #108 "Get the API multiaddr through the api file"
This https://github.com/ipfs/js-ipfsd-ctl/pull/107#r79108143 is currently really hacky

[2016-09-16 06:15] haadcode commented on #108
Related, I added the gateway address so that when daemon is bound to `.../tcp/0`, we get the gateway address back: https://github.com/haadcode/js-ipfsd-ctl/commit/257712108919a05c625b02399b82d873675bc559. @diasdavid want me to PR this?

[2016-09-18 03:23] diasdavid commented on #108
please do :)

[2016-11-11 12:35] haadcode commented on #29
Isn't this already possible with IPFS_EXEC=/path/to/other/ipfs/bin <run command>?

If not, let's definitely get this in. If yes, is IPFS_EXEC not the solution needed here?

[2016-11-12 04:22] diasdavid commented on #32
Is this still an issue?

[2016-11-14 12:33] VictorBjelkholm commented on #29
@haadcode yes, definitly possible today with `IPFS_EXEC`, see here: https://github.com/ipfs/js-ipfsd-ctl/blob/5de559d468d4f4bdd56bd8ea9f5ce12cd6a1a7e3/src/node.js#L63

[2016-12-05 03:25] diasdavid commented on #94
@haadcode do you run into this issue with orbit? How did you solve it?

[2016-12-05 06:58] haadcode commented on #94
@diasdavid fixed it in the same way as @pfrazee did: not using asar.

[2016-12-13 01:45] diasdavid opened #136 "Fragmentation"
TIL that there is a [@haad/ipfsd-ctl](https://www.npmjs.com/package/@haad/ipfsd-ctl). I don't understand why there is a need to create such a module, but it seems it has been going for a while, making it more than an experiment, but an actual fork/module available in NPM.

I very much disagree with this approach because it is clearly fragmenting the ecosystem set by creating yet another module tha

[2016-12-13 01:47] diasdavid commented on #136
We can see on how one is getting behind
![image](https://cloud.githubusercontent.com/assets/1211152/21124325/1adbd728-c093-11e6-9957-c4b387bbae09.png)

[2016-12-13 05:23] diasdavid commented on #136
Found this one too https://github.com/haadcode/ipfs-test-apis

[2016-12-21 08:39] diasdavid commented on #78
This is no longer required with the updated https://github.com/ipfs/npm-go-ipfs-dep

[2016-12-21 08:39] #78 closed

[2016-12-21 08:40] diasdavid commented on #29
- [ ] Needs documentation

[2016-12-21 08:40] diasdavid commented on #32
No longer a issue, I believe. Reopen if necessary

[2016-12-21 08:40] #32 closed

[2016-12-21 10:34] dignifiedquire commented on #29
This is in the current readme

[2016-12-21 14:34] diasdavid commented on #29
✔️

[2016-12-22 14:09] dignifiedquire commented on #95
I found out the hard way that it isn't :(

[2016-12-23 07:03] diasdavid commented on #95
Could you elaborate?

[2016-12-23 07:03] diasdavid commented on #95
Nvm, saw the commits on https://github.com/ipfs/js-ipfsd-ctl/pull/140#issuecomment-268774809, closing this one then :)

[2016-12-23 07:03] #95 closed

[2016-12-23 07:08] diasdavid commented on #27
The day finally came https://ipfs.github.io/js-ipfsd-ctl/ <3 @dignifiedquire

[2016-12-23 07:08] #27 closed

[2016-12-23 07:09] #29 closed

[2016-12-23 07:10] diasdavid commented on #49
Hey @randomshinichi @elsehow , sorry for the trouble, this module has been update, the example and now we have documentation https://ipfs.github.io/js-ipfsd-ctl/, you shouldn't encounter any more problems with that.

Closing this issue, let me know if you find any obstacle again. Thank you!

[2016-12-23 07:10] #49 closed

[2017-01-03 12:22] haadcode opened #143 "Doesn't kill daemon / sub-process"
Previously, js-ipfsd-ctl killed all sub-processes upon process exit. However, with the recent refactoring, that doesn't seem to be the case anymore :/

If you run the tests, for example only the 'start daemon' ones (describe.only('startDaemon')), the tests will pass but if you then do `ps -A|grep ipfs` you will see that there are still ipfs processes running (3 if I counted correctly). I'm on OSX,

[2017-01-03 17:08] dignifiedquire commented on #143
This is strange, because we didn't actually change the spawning, I reverted those changes and we still use `subcomandante` for the exiting.

[2017-01-03 22:09] haadcode commented on #143
Could we try to verify this on various platforms? Can you reproduce it locally? Can we reproduce it on CI?

[2017-01-03 22:49] diasdavid commented on #143
I'm seeing this error two, but here is further debugging:

- The test `SIGKILL kills survivor` just hangs, leaving a couple of ipfs processes running.
- Skipping the previous tests makes everything pass
- Running the tests again will make `1) start and stop` fail with:

[code]

[2017-01-04 09:26] diasdavid commented on #143
@haadcode it was `is-running` https://github.com/ipfs/js-ipfsd-ctl/pull/144

[2017-01-04 10:42] diasdavid commented on #143
fix on https://github.com/ipfs/js-ipfsd-ctl/pull/144

[2017-01-04 10:42] #143 closed

[2017-01-06 20:40] haadcode opened #146 "(go-ipfs 0.4.5-pre1) Error: ipfs configuration file already exists!"
Running the tests with go-ipfs 0.4.5-pre1 binary, the following error gets thrown:
[code]

I believe something was changed in 0.4.5 re how the init is handled (this is what I was trying to explain on IRC the other day). @whyrusleeping @Kubuxu would you be able to tell us what was changed? Was '--force' removed? Is this behaviour intentional?

If this is intentional, I wonder how we should handle /

[2017-01-07 17:14] whyrusleeping commented on #146
the `init --force` option was removed quite some time ago, you should make sure to clean up daemons between reinitialization

[2017-01-08 09:08] haadcode commented on #146
Figured it out, this was a problem with module paths on my side. Closing as invalid.

[2017-01-08 09:08] #146 closed

[2017-02-15 08:15] diasdavid commented on #136
@haadcode we need to converge https://github.com/haadcode/js-ipfsd-ctl into this. What are the steps for that? What is stopping you from using the main one and maintaining a fork?

[2017-02-15 10:25] haadcode commented on #136
Short: 0.4.5.

Long:
The fork was originally done to have 0.4.5 go-ipfs bin in the chain of deps for Orbit (which needed pubsub).

So, to unravel all that, we need to merge https://github.com/ipfs/npm-go-ipfs-dep/pull/18 and https://github.com/ipfs/npm-go-ipfs-dep/pull/19 and release `go-ipfs-dep@0.4.5`.

The other part is to merge https://github.com/ipfs/js-ipfsd-ctl/pull/145 and release new vers

[2017-02-15 14:02] diasdavid commented on #136
- [x] https://github.com/ipfs/npm-go-ipfs-dep/pull/18
- [x] https://github.com/ipfs/npm-go-ipfs-dep/pull/19
- [x] go-ipfs-dep@0.4.5
- [ ] https://github.com/ipfs/js-ipfsd-ctl/pull/145

I see a breaking change proposed on https://github.com/ipfs/js-ipfsd-ctl/pull/145 and no PRs to js-ipfs and js-ipfs-api that cope with that change, meaning that the poor soul that merges and releases would have to r

[2017-03-11 22:14] thisconnect opened #148 "node hangs does not exit after ipfsd.disposableApi"
running this example https://github.com/ipfs/js-ipfsd-ctl/blob/master/example.js  does log the id, publicKey etc. but the Node.js process never ends

[code]

[2017-03-15 13:33] diasdavid opened #149 "Future of ipfd-ctl (for consideration)"
Taken from: https://github.com/ipfs/js-ipfs/issues/556#issuecomment-286494980

----------------

Satelite modules ipfsd-ctl vs ipfs-daemon vs ipfs-factory

We need a thing that lets us spawn nodes (js-ipfs and go-ipfs) easily, so that apps like orbit, our tests and benchmarks can switch between different combinations (js-ipfs, js-ipfs daemon + js-ipfs-api, go-ipfs + js-ipfs-api) without too much c

[2017-04-05 23:11] diasdavid commented on #148
That's on purpose, the daemon is spawn in a child process that you are never stopping, so the parent process won't stop too.

To close the process graciously, you will need to call the stopDaemon method: https://github.com/ipfs/js-ipfsd-ctl/blob/master/src/node.js#L243-L259

[2017-04-06 05:19] thisconnect commented on #148
I assumed this would happen as the comment states:

https://github.com/ipfs/js-ipfsd-ctl/blob/master/example.js#L4

Would you accept a PR that adds stopDaemon to the example?

[2017-04-06 12:58] diasdavid commented on #148
@thisconnect absolutely, thank you :)

[2017-04-06 15:32] thisconnect commented on #148
Another minor find using disposableApi or disposable:

When there was an error, the tmp dir is not removed.
It's all good when **no** error occurred (tmp is properly rimraf'd).

Do you consider this a bug, if yes should I open an issue?

[2017-04-06 15:50] diasdavid commented on #148
It can be considered a bug, although tmp folder is cleaned by the OS. Understand that is annoying and it can double checked to be fixed

[2017-04-08 08:35] thisconnect commented on #148
Not sure if you have seen my second last comment but I am stuck, https://github.com/ipfs/js-ipfsd-ctl/issues/148#issuecomment-292207513

[2017-04-08 12:09] diasdavid commented on #148
@thisconnect sounds like you just have to propagate those functions to the API object so that they are exposed through what is returned on the disposableApi call

[2017-06-20 17:24] diasdavid commented on #148
@thisconnect got my message?

[2017-06-21 06:03] thisconnect commented on #148
disposableApi currently returns (err, api)

are you saying I should open a PR, that it returns (err, api+stopDaemon)?

[2017-06-21 06:06] thisconnect opened #152 "BUG: getConfig should return the whole config"
If no key is passed, the whole config is returned as an object.

https://ipfs.github.io/js-ipfsd-ctl/#nodegetconfig

currently it returns Error: Failed to get config value: " key has no attributes"

see https://github.com/ipfs/js-ipfsd-ctl/pull/151

[2017-06-21 06:07] thisconnect commented on #152
Another test fails on Node 6 https://travis-ci.org/ipfs/js-ipfsd-ctl/builds/244451297

[2017-06-21 06:19] thisconnect commented on #152
After reopening the PR, the other test now fails on Node 4 https://travis-ci.org/ipfs/js-ipfsd-ctl/builds/245233174

[2017-06-22 05:42] thisconnect commented on #148
The docs say nothing about that the process should end automatically https://ipfs.github.io/js-ipfsd-ctl/#ipfsdaemoncontrollerdisposableapi

So I just removed the comment that confused me https://github.com/ipfs/js-ipfsd-ctl/pull/154 for now

[2017-06-22 05:42] #148 closed

[2017-06-22 09:16] thisconnect commented on #94
It seems that the solution is to exclude go-ipfs-dep from node_modules during packaging. I got it working with `electron-packager`, see https://github.com/ipfs/js-ipfsd-ctl/pull/155

[code]

[2017-06-22 09:32] thisconnect opened #156 "Error npm test fills tmp dir"
while running the tests over and over again the following error appears more often than it should (MacOS)

[code]

some tests use a temporary dir
[code]

This temporary dir gets quite full and seems to be the cause for the Error: ipfs configuration file already exists

[code]

[2017-06-22 11:45] diasdavid commented on #156
Good catch. The tests should clean up after themselves. Would you like to submit a PR with that improvement?

[2017-06-22 11:50] #156 closed

[2017-06-24 11:13] diasdavid commented on #152
Thank you for fixing the config bit. Let's review the remaining bugs in another issue/PR

[2017-06-24 13:41] thisconnect opened #158 "CI: random fail returns valid API and gateway addresses"
Ci failes "sometimes" on Node 4 sometimes on Node 6

See the 2 builds from another PR (https://github.com/ipfs/js-ipfsd-ctl/pull/153 should be unrelated to the test)
fails on Node 6 https://travis-ci.org/ipfs/js-ipfsd-ctl/builds/244451297
fails on Node 4 https://travis-ci.org/ipfs/js-ipfsd-ctl/builds/245233174

each time same test
[code]

[2017-06-24 13:42] thisconnect commented on #152
Sure, not sure what it could be but I opened for the random CI failures https://github.com/ipfs/js-ipfsd-ctl/issues/158

[2017-06-24 13:42] #152 closed

[2017-08-29 13:51] diasdavid commented on #158
@thisconnect fixed on https://github.com/ipfs/js-ipfsd-ctl/pull/160/files#r135794850

[2017-08-29 13:51] #158 closed

[2017-08-30 14:28] Powersource opened #161 "ipfs.id is not a function"
There isn't much info on `ipfsd.local` but [from this example](https://github.com/ipfs/js-ipfsd-ctl/blob/master/examples/local.js) it seemed like this should work.

[code]

Error:

[code]

Had the same result with and without `IPFS_EXEC` set. Also tried having a regular go-ipfs node running and not.

[code]

[2017-08-31 12:08] diasdavid commented on #161
@Powersource that `ipfs` instance is not an `ipfs-api` instance. Log its methods, it is something that is created here that exposes some commands but not all. You want to do a disposableAPI or create a js-ipfs-api instance that connects to that daemon started.

[2017-08-31 14:42] Powersource commented on #161
Ok thanks, looked into the code a bit more and I think this should work (followed by using the Addr's to
connect using js-ipfs-api):

[code]
Both of those log null. And I don't really understand the comment in the example linked above `// opens an api connection to local running ipfs node`.

[2017-09-02 09:56] diasdavid opened #163 "exec is working as expected, the test needs to be fixed"
https://github.com/ipfs/js-ipfsd-ctl/blob/master/test/exec.spec.js#L56-L60

[2017-09-06 12:02] diasdavid commented on #161
Fixed with https://github.com/ipfs/js-ipfsd-ctl/pull/165 :)

[2017-09-06 12:02] #161 closed

[2017-09-08 14:25] Powersource commented on #161
Trying this with 0.23 it still doesn't seem to work. [My code.](https://github.com/viddist/viddist/blob/c435887de884407597b697d222cf5eb27459ede3/index.js)

` {"diskinfo":{"free_space":104992063488,"fstype":"61267","total_space":92177629184},"environment":{"GOPATH":"/home/me/prj/go","IPFS_PATH":""},"ipfs_commit":"f55a7a03b","ipfs_version":"0.4.11-dev","memory":{"swap":0,"virt":219328000},"net":{"in

[2017-10-17 12:44] diasdavid commented on #94
@thisconnect thanks for working on a interim solution and documenting it on the README 👍  https://github.com/ipfs/js-ipfsd-ctl#packaging

[2017-10-17 12:47] diasdavid commented on #108
@haadcode I'll take your `haadcode removed their assignment on 17 Jan` as no follow up for this issue. Closing then :)

[2017-10-17 12:47] #108 closed

[2017-10-17 15:28] thisconnect commented on #94
Can this issue be closed?

[2017-10-22 16:55] diasdavid commented on #136
All done \o/

[2017-10-22 16:55] #136 closed

[2017-10-23 07:46] thisconnect commented on #149
Can this be closed?

[2017-10-23 08:30] #149 closed

[2017-10-23 08:31] diasdavid commented on #149
Sure :) It's not urgent anymore

[2017-11-10 03:56] richardschneider opened #167 "Windows interop"
This package and tests should run on Windows

[2017-11-10 04:09] richardschneider commented on #167
Many of the tests use unix tools (tail, ps, ...).  The windows equivalent will be need.

[2017-11-10 08:54] diasdavid commented on #167
The tests are running on Windows https://ci.appveyor.com/project/diasdavid/js-ipfsd-ctl-a9ywu for a while. What's missing?

[2017-11-10 09:04] thisconnect commented on #167
@richardschneider there are 2 parts excluded by checking isWindows
https://github.com/ipfs/js-ipfsd-ctl/blob/master/test/spawning-daemons.spec.js

forgot what it was all about

[2017-11-10 09:33] diasdavid commented on #167
Those are actually issues from https://github.com/ipfs/js-ipfs-api and not ipfsd-ctl itself

[2017-11-10 19:08] dryajov opened #169 "Adding js-ipfs support"
NOTE: I don't intend to start a big discussion around this, as I think 1) is relatively low risk, 2) is pretty self evident. This is mostly a brain dump after taking an initial stab at it - but feedback is welcome as I want to make sure I don't miss something obvious either.

Here are some questions that have come up after starting this effort:

1. ipfsd-ctl `exec`s the Go executable and communica

[2017-11-10 19:29] diasdavid commented on #169
Good notes @dryajov. Let's go by parts.

ipfsd-ctl should enable a user to:

- spawn a js-ipfs daemon
- ✅ spawn a go-ipfs daemon

And also:

- ✅ interact with the daemon through its commands
- ✅ interact with the daemon through ipfs-api

Right now, 3/4 are done. I understand your point that there are differences in the CLI, but that is ok, the first Milestone is to get the interaction through the

[2017-11-10 19:31] dryajov commented on #169
👍

[2017-11-12 08:35] richardschneider commented on #167
@diasdavid It is NOT running on windows see https://github.com/ipfs/js-ipfs-api/issues/623

[2017-11-12 09:32] thisconnect commented on #167
@richardschneider could you try with https://github.com/thisconnect/js-ipfsd-ctl/commit/03ea8d538e141aa2bafb2ace81771f948684c03d#diff-6ff379484cbabad48301d485db111c08R31

[2017-11-12 09:41] diasdavid commented on #169
Work happening at https://github.com/ipfs/js-ipfsd-ctl/pull/170

[2017-11-12 09:41] #169 closed

[2017-11-16 12:22] richardschneider commented on #167
There's a `check()` that is skipped for windows.  It checks that the "repo" is correct after stopping a daemon.

According to [nodejs](https://github.com/nodejs/node/issues/12378) `process.kill()` and signals are just broken.  More investigation of `subcomandante` is required.

[2017-11-19 21:52] paulogr opened #175 "Detect if ipfs daemon is already running."
Is there a way to detect if the ipfs daemon is already running?

thanks!

[2017-11-19 23:34] dryajov commented on #175
It depends

- If using the `.disposable` method, it will only give you a node which has to be explicitly started/stopped - you'll have to start it yourself with `ipfs.startNode()`
- if using `.disposableApi` method you'll get the node started and an instance of `ipfs-api` connected to that node

Both of this methods take an explicit repo path, if an instance is already running using that repo, the

[2017-11-20 21:35] paulogr commented on #175
Thank you for your answer!

I'm using the `.local` method and, to tell the truthy I'm still have difficult to understand the difference between those three methods.

So far I understand the `.local` method I get an ipfs node and start it myself like you sad it works with `.disposable` method. But I don't want the repo gets removed after I stop the service.

I'm building a node js app, and getting

[2017-11-25 04:33] richardschneider opened #177 "NPM install is failing on peer dependencies"
[code]

[2017-11-25 04:37] richardschneider commented on #177
So as you can see, I started installing the peer dependencies by hand.  But failed when aegir want eslint@4.1.1 but eslint-plugin-react wants eslink@3.0.0

Can someone fix this, so that I can do I simple of js-ipfsd-ctl and it works!

[2017-12-19 22:56] #177 closed

[2018-01-11 16:57] hacdias opened #182 "Connect to already running daemon"
After talking to @dryajov, we noticed that `ipfsd-ctl` doesn't connect to already running daemons. This code:

[code]

Should print `true` if the there was a daemon on that repo and `node.api` should be populated. 😄

[2018-01-12 14:52] diasdavid commented on #182
@hacdias this is only on the latest version that hasn't been merged right? Namely #176 ? Was this a feature that you use in the current released version? If so it is a regression and #176 shouldn't be merged until it is fixed.

@hacdias can you add a test for it on the PR?

[2018-01-12 14:53] diasdavid commented on #175
ref: #182

[2018-01-12 14:55] hacdias commented on #182
@diasdavid I don't know if the current version can connect to already running daemons. I have tried but it didn't seem to work neither with master, nor with #176

[2018-01-12 14:55] dryajov commented on #182
@diasdavid this functionality wasn't present in the previous versions either.

[2018-01-12 15:10] diasdavid commented on #182
Ok, no blocker then :)

[2018-01-22 21:14] dryajov commented on #163
addressed with #176

[2018-01-22 21:14] #163 closed

[2018-01-27 05:18] richardschneider opened #185 "Running JS on Windows"
A few of our tests (see [block.js](https://github.com/ipfs/js-ipfs/blob/master/test/http-api/interface/block.js)) run JS code like this
[code]
On Windows it fails with
[code]

[2018-01-27 05:27] richardschneider commented on #185
I think that on windows, the issue is that `.js` files are not associated with `node` .

[2018-01-27 06:14] richardschneider opened #186 "Passphrase for in-proc deamon"
The new `--pass ...` option should be set for the in-proc deamon.  For example

[code]
Needed by https://github.com/ipfs/js-ipfs/pull/1133

[2018-01-27 09:35] richardschneider opened #188 "Make testing fast again - Bring init options back"
Spawning a deamon on my machine (windows) is extremely slow.  It appears that each go/js command that is run takes ~10 seconds!

More details to follow.

[2018-01-27 21:10] diasdavid commented on #186
fixed with #187

[2018-01-27 21:10] #186 closed

[2018-01-27 21:10] diasdavid commented on #185
I'm seeing this happening on Jenkins too. @dryajov are you on top of it?

[2018-01-27 21:26] dryajov commented on #185
That is handled in the code - on windows I prepend the node executable to the exe path. There might be a bug, I'll take a look. Also #187 should add a more robust handling of js executables, because it checks for `.js` in the path, rather than `type !== 'go'`.

[2018-01-27 21:26] richardschneider commented on #185
Fixed by #187

[2018-01-27 21:26] #185 closed

[2018-01-27 21:29] mcrider opened #189 "Weird behavior with disposable daemons"
If I don't pass any options to spawn, it seems like it defaults `disposable` to true -- inspecting ipfsd in the callback shows:

[code]

If I explicitly set disposable to false, as in:
[code]

... `ipfsd` will have `disposable` set to true but `ipfsd.api` will be null. Should it be? Anything weird I'm doing here? I want the daemon to run in a non-disposable way (i.e. I should be able to access doc

[2018-01-27 21:45] dryajov commented on #189
Not really, the `disposable` will only signal `ipfsd-ctl` to create ephemeral nodes, other than that it should respect all the other flags, which in the case are `init=true` and `start=true`. I'm going to try to reproduce this issue.

[2018-01-27 21:53] dryajov commented on #189
@mcrider I misread your comment - in `disposable=false`,  you have to both init and start your node manually, the reason is because non disposable nodes will default to well known repo locations (~/.ipfs or ~/.jsipfs) which might be already initialized.  Here is a quick example to init and start your node. Also note, that it's up to you to clean up the repo after the daemon exists.

[code]

[2018-01-27 22:03] dryajov commented on #188
10s is definitely a little slow, but keep in mind that each spawned daemon (unless pointing to an existing repo) will have to init the repo and apply any custom configs before launching the damon, which could get pretty slow. But please do provide details, I'd like to speed this up as much as possible 👍

[2018-01-27 22:56] mcrider commented on #189
Thanks for that @dryajov . But when I run your example in a bare-bones reproduction I get `TypeError: Cannot read property 'id' of null`. I integrated it into my app and it seems to sometimes work, is there some sort of race condition perhaps (i.e. ipfsd is not available right away in the start callback)?

[2018-01-27 23:01] richardschneider commented on #188
Its not just `ipfs init`.  Been sided tracked with other issues, but should have details in an hour or so.

FWI: Timing was done by hand (one onesecond, two one-second, ...) and each command (init, config) took exactly 10s.

Also, are the config settings applied to in-proc IPFS?

[2018-01-28 03:36] richardschneider opened #191 "CI Issues"
@dryajov Could you look at https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fjs-ipfsd-ctl/detail/PR-190/3/pipeline.  It appears to be about port sharing.  I can't test it, because the tests are disabled for windows.

[2018-01-28 08:49] thisconnect commented on #189
Is there a doc error?
https://github.com/ipfs/js-ipfsd-ctl/#spawn-a-new-daemon-with-dfspawn

disposable bool (default false)

should be (default true) correct?

[2018-01-28 10:28] VictorBjelkholm commented on #191
@richardschneider tests should not be disabled for windows anymore. You don't see the following picture after navigating to that url of yours?

![image](https://user-images.githubusercontent.com/459764/35481152-50581e8c-041e-11e8-8a05-8cd6fbce8419.png)

[2018-01-28 15:51] dryajov commented on #189
@thisconnect thanks for pointing that out! Indeed its a doc error, I'll fix it.

[2018-01-28 15:55] dryajov commented on #189
@mcrider that is weird, what OS are you on? It should work, in fact we have several tests set up like that, which should otherwise be failing.

[2018-01-28 16:10] dryajov commented on #191
@richardschneider @VictorBjelkholm I'm investigating it, as it happens in other repos as well (ipfs/interop for one) - this started happening kinda suddenly, I didn't see that problem until recently.

[2018-01-28 16:54] mcrider commented on #189
@dryajov I think I was just running into issues with not properly stopping the daemon on exit.  Cleaned everything up and it seems to be working well now.  Thanks for the help!

[2018-01-28 16:54] #189 closed

[2018-01-28 23:07] richardschneider opened #193 "Debug logging"
If debug logging is enabled,  via DEBUG environment variable, then all the `js-ipfs` tests fails.  It appears that `ipfsd-ctl` does not like debug output.

[code]

See the [debug.txt](https://github.com/ipfs/js-ipfsd-ctl/files/1671711/debug.txt)

[2018-01-29 00:38] richardschneider opened #194 "Passphrase when initing"
Need to allow an optional passphrase when initing.

Add `pass: null` to the `initOpts`.  If not null, then produce `jsipfs init --pass ... -b 2048`.

Make sure that this is also done for in-proc deamons.

[2018-01-29 02:35] dryajov commented on #191
@VictorBjelkholm I see that we're installing and starting up IPFS on the workers now (https://github.com/ipfs/jenkins/blob/01bd125f79455165c6e843d91ebdce042d25a0b7/linux-workers/main.tf#L72..L75), which is whats causing the issues with the conflicting ports. Is there a reason we're doing it? I think that's going to break a lot of builds across many repos?

[2018-01-29 02:59] dryajov commented on #193
@richardschneider see - https://github.com/ipfs/js-ipfsd-ctl/pull/195#issuecomment-361124921

In esense, if we enable `DEBUG=*` or `DEBUG=ipfs`, etc - it will enable the daemon debug output, which will break our `stdout/stderr` logging. We can use debugging, but we have to be careful to scope it correctly.

[2018-01-29 03:04] richardschneider commented on #193
With so many processes running in a test, I really need debug logging to figure out why the tests are failing.

ipfsd `stdout/stderr` parsing **SHOULD** work with debug logging.

[2018-01-29 03:11] dryajov commented on #193
I'd love to get that working, I just don't see how. Once you enable debugging, it will clog `stderr` and will have to workaround parsing leggit errors from conflicting log messages.

[2018-01-29 10:16] VictorBjelkholm commented on #191
@dryajov yes, that is true. The distribution of caches and builds will happen via IPFS communication between workers and the master.

It should not cause any conflicts as the tests should not have any hardcoded ports in them.

[2018-01-29 14:19] dryajov commented on #191
Thanks @VictorBjelkholm. I agree, we should not be using hardcoded ports and addresses anywhere unless justified. In the case of `ipfsd-ctl`, it only uses the default configs when spawning non `disposable` nodes with the default config, in which case it uses the respective `ipfs` defaults for each daemon type. This should not be a big issue and we should be able to provide alternative addrs for th

[2018-01-29 18:26] thisconnect commented on #189
thanks @dryajov

[2018-01-29 20:23] dryajov commented on #194
addressed in - https://github.com/ipfs/js-ipfsd-ctl/pull/187

[2018-02-02 06:02] #194 closed

[2018-02-03 03:30] richardschneider commented on #191
@dryajov any progress? All `ipfsd-ctl` PRs are failing because of this.

[2018-02-03 04:13] dryajov commented on #191
@richardschneider this has been addressed here - https://github.com/ipfs/js-ipfsd-ctl/pull/196

[2018-02-03 04:27] richardschneider commented on #191
@dryajov needs to be merged!

[2018-02-06 06:33] diasdavid opened #199 "Browser tests failing locally"
@dryajov do you see this locally?

<img width="778" alt="image" src="https://user-images.githubusercontent.com/1211152/35844863-92562884-0b07-11e8-8454-43e17be36661.png">

This is blocking me from releasing it for @richardschneider

[2018-02-06 20:01] dryajov commented on #199
@diasdavid I just ran them myself on a clean master branch, they worked fine - I'm on MacOS btw. Is there a more complete stack trace that I can look at?

[2018-02-06 21:13] diasdavid commented on #199
nvm. I discovered later this was aegir failing for me for not having chrome (tmp machine). Thanks for checking!

[2018-02-06 21:13] #199 closed

[2018-02-10 08:40] #191 closed

[2018-02-12 18:16] 10thfloor opened #201 "ipfsd.api.name.publish fails with opaque error message."
OS: Sierra, 7.3.0 Darwin Kernel Version 17.3.0 X_86_64

The following code fails:
[code]

With this error:
[code]
I'm trying to poke into the source, but not having any luck.
✌️

[2018-02-12 18:22] VictorBjelkholm commented on #201
Do you see any other errors? According to https://github.com/ipfs/js-ipfs/blob/9f2006e950a198d6c7b0714551eaa8a43652e614/src/http/error-handler.js#L35, it should also print out the error.

Are you using a js-ipfs daemon or go-ipfs daemon with `daemon.spawn`? IPNS is not implemented in the JavaScript implementation, so might be what's gone wrong.

[2018-02-13 21:44] shumkov opened #202 "Node inspector doesn't work: address already in use"
Hello guys, thank you for your amazing work.

I use `ipfsd-ctl` for spawning IPFS instance in mocha test in a very similar way as in OrbitDb tests.
It's cool but it doesn't work with node inspector:
[code]

[2018-02-13 22:18] dryajov commented on #202
Unfortunately, thats a known (and annoying ) issue. debugging doesn't work with forked processes in nodejs - https://github.com/nodejs/node/issues/9435

[2018-02-13 22:48] shumkov commented on #202
Ahh... Do you know any workarounds? Like this one https://github.com/askmike/gekko/pull/1666?

[2018-02-15 11:00] diasdavid commented on #188
@dryajov when the new version of ipfsd-ctl, we lost the ability to set key size on init. This is really unfortunate as tests are taking forever nowadays.

My proposed solution:
<img width="805" alt="image" src="https://user-images.githubusercontent.com/1211152/36253404-bd767888-1247-11e8-8bc3-1dc0af0349cb.png">

init should be a bool or object and the object should accept any of the init options:

[2018-02-15 11:04] richardschneider commented on #188
@diasdavid what about the PR [smaller keysize when testing](https://github.com/ipfs/js-ipfsd-ctl/pull/198)?

[2018-02-15 15:21] diasdavid commented on #188
@richardschneider we are not going to patch globals. This should be an option and not a surprise.

[2018-02-15 18:31] dryajov commented on #188
We didn't, you can still set it as part of calling `ipfsd.init({keysize: <size>})`. The `init` flag was always a `bool` -
https://github.com/ipfs/js-ipfsd-ctl/blob/v0.26.0/src/index.js#L9..L15.

That said, I agree it's a valuable option to have. In order to not break the existent implementation, lets leave the `init` as a bool, but add a new property, `initOpts` that would take a `keysize`, that w

[2018-02-15 19:03] 10thfloor commented on #201
Ah. I'm using the js-ipfs daemon. I'll attempt using go-ipfs and respond on this thread. Thanks!

[2018-02-15 19:39] diasdavid commented on #188
I'm curious why the update of js-ipfs, js-ipfs-api and ipfs/interop didn't contemplate that ipfsd.init with reduced key sizes. Was there any blocker?

[2018-02-15 21:15] dryajov commented on #188
I don't believe we ever ran our tests with reduced key sizes by default? That said I think we can have our cake and eat it too. Here is what I propose:

- add the ability to pass the keysize to `spawn` (could be by modifying the existing `init` to take an object or adding an `initOpts` property, whatever works best)
- add the ability to pass the keysize with env variables in addition to passing to

[2018-02-15 21:29] dryajov commented on #202
@shumkov Interesting, thanks for pointing that one out - it's worth a try for sure. Would you feel comfortable sending a PR that fixes this?

[2018-02-16 00:15] dryajov commented on #188
I'm actually not sure if we need this. In @richardschneider PR #198, there is a check that uses `1024` for go and `512` for js, I'm confused as to why this is, but if we don't need to use different sizes, then we don't need separate variables.

[2018-02-16 01:07] richardschneider commented on #188
@dryajov `go-ipfs` enforces min key size of 1024, whereas `js-ipfs` is happy with 512.

@diasdavid

It is not patching a global.  It is just using `global` to detect if mocha is being used.

Just document that the default key size is 2048 unless running in a `mocha` test.  In which case it's 512 for `js` and 1024 for `go`.

[2018-02-16 01:41] dryajov commented on #188
@diasdavid @richardschneider added #203 implementing what I outlined in https://github.com/ipfs/js-ipfsd-ctl/issues/188#issuecomment-366063832

[2018-02-16 14:53] vmx commented on #202
I just ran into this issue and didn't know there was already one open. I'll do a PR soon.

[2018-02-16 15:36] shumkov commented on #202
@dryajov @vmx Seems I'm late :) Don't hesitate to ask my help if needed.

[2018-02-16 17:16] diasdavid commented on #188
It was there until the new ipfsd-ctl appeared. A quick git history search:

- https://github.com/ipfs/js-ipfs/blob/b3615b769beb38f81cd64c6f61b2542f3c952c64/test/utils/ipfs-factory-daemon/index.js#L35-L63
- https://github.com/ipfs/js-ipfs/blob/b3615b769beb38f81cd64c6f61b2542f3c952c64/test/utils/ipfs-factory-instance/index.js#L41

Let's do this one only and not reinvent the wheel. `ipfs init` has ar

[2018-02-16 17:34] #202 closed

[2018-02-16 17:37] dryajov commented on #188
👍 on reusing ini options

[2018-02-17 04:01] richardschneider opened #206 "Browser tests failing on MacOS"
What is port 9999?

See build https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fjs-ipfsd-ctl/detail/graceful-stop/1/pipeline/14

[code]

[2018-02-17 04:20] richardschneider commented on #206
@dryajov Any ideas?  Haven't we seen this before?

[2018-02-19 11:36] diasdavid commented on #201
@10thfloor all good now?

[2018-02-19 11:40] diasdavid commented on #188
let's finish this one on https://github.com/ipfs/js-ipfsd-ctl/pull/203

[2018-02-19 11:40] #188 closed

[2018-02-19 16:16] dryajov commented on #206
I've pinged @VictorBjelkholm about it on IRC - I believe he was to look into it. We can also change the default port for the http server to something more random, but I believe this indicates an issue somewhere else as well - https://github.com/ipfs/js-ipfs/pull/1103#issuecomment-366670887

[2018-02-19 21:11] 10thfloor commented on #201
Yes. I had to install `go-ipfs-dep` and `go-ipfs` as prohject dependencies, and initialize the Daemonfactory with the 'go' option. Here is what I was building. Works like a charm : )

[code]

[2018-02-20 07:58] diasdavid commented on #201
Awesome! Anything always refer to the README -- https://github.com/ipfs/js-ipfsd-ctl/#batteries-not-included-bring-your-own-ipfs-executable -- and if it is not in the README, let us know or PR so that it gets there :)

[2018-02-20 07:58] #201 closed

[2018-02-20 10:36] alanshaw opened #207 "Map config object to CLI args?"
The in-process node [maps CLI `args` to `config`](https://github.com/ipfs/js-ipfsd-ctl/blob/cf794cdb047c0ee1aaa8aff923c1fd0bd15e9051/src/ipfsd-in-proc.js#L47-L57) but the daemon node does not map `config` to `args`.

I was trying to create a daemon node and passing `config` to enable pubsub, but the node was not configured to enable pubsub.

Should it also map `config` object to CLI `args`? Do we

[2018-02-20 11:24] alanshaw opened #208 "In proc node config not applied"
I'm trying to enable `EXPERIMENTAL.dht` for my in-proc node:

[code]

The DHT experiment is not enabled because the in process node does not use the `config` property to configure the node, it expects `EXPERIMENTAL` to be in the root of the options object:

https://github.com/ipfs/js-ipfsd-ctl/blob/cf794cdb047c0ee1aaa8aff923c1fd0bd15e9051/src/ipfsd-in-proc.js#L36

[2018-02-22 10:17] diasdavid commented on #206
<img width="721" alt="image" src="https://user-images.githubusercontent.com/1211152/36532706-5f78d90c-17b9-11e8-9deb-b21b06c2d88c.png">

@dryajov this is a ipfsd-ctl issue, also happening on Jenkins here - https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fjs-ipfsd-ctl/detail/PR-203/19/

**Making it be a port random would only hide the issue, the real problem is that the http server is not clo

[2018-02-22 10:20] VictorBjelkholm commented on #206
@diasdavid I'm working on this right now.

Are you sure about the real problem? I'll make sure it's closed then, but it could also be that the port is used on macOS for other purposes. Real fix would be to make sure port is ephemeral + making sure server is closed IMHO.

[2018-02-22 10:23] diasdavid commented on #206
Update: Let's see https://github.com/ipfs/js-ipfsd-ctl/pull/209 :)

[2018-02-22 10:30] VictorBjelkholm commented on #206
Fair enough. My theory is that tests were killed in a stage where the http-server was not properly killed, but this doesn't happen always, just sometimes (cancelled builds?).

[2018-02-22 10:32] diasdavid commented on #206
Verdict: https://github.com/ipfs/js-ipfsd-ctl/pull/209#issuecomment-367638325

[2018-02-22 18:51] dryajov opened #210 "Implement correct ENV precedence handling"
Issue to keep track of - https://github.com/ipfs/js-ipfsd-ctl/pull/203#issuecomment-367112903

[2018-02-26 11:54] diasdavid commented on #207
For consistency, we need config and args because there is different sets of info that go in each. That said, things like "EXPERIMENTAL" flags on js-ipfs are not config, they are options (aka args for the in proc node). This is a bug.

[2018-02-26 18:41] dryajov commented on #208
Hmm, I believe that we can deprecate the use of options in `ipfsd-ctl` for `proc` types and always use the `config` key. That will make it consistent across all daemon types, which currently don't use options at all.

[2018-03-06 13:23] VictorBjelkholm opened #213 "Cant' find go-ipfs-dep module"
index.js (copy-paste from readme.md):
[code]
Running:
[code]
Install with yarn:
![image](https://user-images.githubusercontent.com/459764/37034295-22ba6ae6-2149-11e8-9a39-a60dd47b10eb.png)

Install with npm:
![image](https://user-images.githubusercontent.com/459764/37034460-a4c56554-2149-11e8-8201-ea5557cf4dc7.png)

[code]

Here is a commit that moves `go-ipfs-dep` from `dependencies` to `devDepen

[2018-03-06 14:07] diasdavid commented on #213
@VictorBjelkholm I see you went the whole length on this one but skipped to read the README.

https://github.com/ipfs/js-ipfsd-ctl#batteries-not-included-bring-your-own-ipfs-executable

<img width="973" alt="image" src="https://user-images.githubusercontent.com/1211152/37036474-15be2cf4-2150-11e8-9841-767650e30ac6.png">

[2018-03-06 14:16] VictorBjelkholm commented on #213
Ugh, yes indeed, I did no bother as I thought it was batteries included, like before. Sorry, my mistake.

Although, with that said, if don't include the batteries, we should have a better error message, guiding users to the readme in case neither js-ipfs or go-ipfs could be found.

[2018-03-06 14:35] diasdavid commented on #213
@VictorBjelkholm go for it. Always 👍  for improving UX :)

[2018-03-07 03:01] JonKrone opened #214 "In proc nodes can not be spawned on top of existing repos"
In-process js-ipfs instances are not aware of whether or not they have spawned on top of an existing repo. This basically breaks the node as it can neither `.start` or `.init`.

I believe this is the cause of an error mentioned in a TODO here:
https://github.com/ipfs/js-ipfsd-ctl/blob/151303ce495b456188d2201421706358afcd5b5d/test/spawn-options.spec.js#L121

I think a fix for this can largely mirro

[2018-03-11 09:56] linonetwo commented on #214
+1 .  I was wondering how ipfs-desktop achieve this . https://github.com/ipfs-shipyard/ipfs-desktop/blob/master/src/index.js#L238.

I copy the code but I errors, then I found out, I'm using ```DaemonFactory.create({ type: 'proc', exec: require('ipfs'), port })``` but ipfs-desktop is just using ```DaemonFactory.create()``` .

[2018-03-11 14:49] hacdias commented on #182
Any progresses on this @dryajov? If you didn't start, I can try to look at the code and see what I can do.

[2018-03-11 18:44] dryajov commented on #182
Go for it - I haven't been able to get to it yet.

[2018-03-11 23:01] diasdavid commented on #213
@VictorBjelkholm are you on top of it?

[2018-03-12 04:57] linonetwo commented on #214
related? https://github.com/ipfs/js-ipfs/issues/1245

[2018-03-12 09:00] diasdavid commented on #182
@hacdias 👍 for me as well. Definitely make sure to create a good error for in-proc nodes given that there is no way for two clients to connect to it.

[2018-03-13 18:57] JonKrone commented on #214
@linonetwo

Yeah, ipfs-desktop is not using a proc node but there is a fix in https://github.com/ipfs/js-ipfsd-ctl/pull/212 ([here](https://github.com/ipfs/js-ipfsd-ctl/pull/212/files#diff-a64c691b43b66870588c26e5ceb75ea7R55)) that should allow ipfs-desktop to skip that check and rely on the `initialized` property of the node they spawn.

I don't think that it is. They both have to do with initial

[2018-03-14 22:34] diasdavid commented on #206
This was fixed.

[2018-03-14 22:34] #206 closed

[2018-03-15 15:15] dignifiedquire opened #216 "IPFS_EXEC is not documented anymore"
it was in the readme at some point, really useful

[2018-03-15 17:49] olizilla opened #217 "Add option to init ipfs node with go-ipfs defaults"
IPFS Desktop uses `js-ipfsd-ctl` to start a `go-ipfs` node. If the user doesn't have an existing repo, their node config is initialised with the defaults chosen `js-ipfsd-ctl` rather than those that the user would get if they ran `go-ipfs` manually, which caused us an issue: https://github.com/ipfs-shipyard/ipfs-desktop/issues/617

We can manually copy the `go-ipfs` defaults into the IPFS Desktop

[2018-03-15 20:45] VictorBjelkholm commented on #216
I just hit this as well. Apparently, since we're spawning both js-ipfs and go-ipfs nodes and they both would be candidates for `IPFS_EXEC`, if you're using both, it becomes messed up. So the `IPFS_EXEC` support has been removed completely.

So with that, I propose the following changes:

- add `IPFS_JS_EXEC` and `IPFS_GO_EXEC` env vars for respective binary for the implementations. Extremely usefu

[2018-03-15 20:51] dryajov commented on #216
Yes we should add it to the readme - however there are a few caveats.

Since we added different executable types - `go`, `js` and `proc`, there could be cases when setting the variable with an incompatible executable would fail, also starting more than one daemon with different `exec` types will fail if the env variable is not updated accordingly between runs.

We need to introduce an env variable

[2018-03-15 20:52] dryajov commented on #216
ah, @VictorBjelkholm beat me to it :)

[2018-03-16 16:41] dryajov commented on #182
@hacdias have you already started on this, if not I can give it a go now.

[2018-03-20 18:30] hacdias commented on #182
@dryajov no, I haven't. Sorry for the late response.

[2018-03-20 18:46] dryajov commented on #182
I just did - https://github.com/ipfs/js-ipfsd-ctl/pull/221

[2018-03-21 03:44] diasdavid commented on #216
Done with #219

[2018-03-21 03:44] #216 closed

[2018-03-21 03:45] diasdavid commented on #182
👏🏽👏🏽

[2018-03-21 03:45] #182 closed

[2018-03-27 12:11] VictorBjelkholm commented on #213
This was fixed in https://github.com/ipfs/aegir/pull/198

[2018-03-27 12:11] #213 closed

[2018-03-29 07:56] alanshaw opened #223 "Spawn go daemon does not work with Node.js v9.9.0+"
`.spawn` never calls back.

[2018-03-29 11:27] artvinn opened #224 "Stop daemon on process exit"
Hi guys. I am running a non-disposable node and trying to stop the daemon on process exit(SIGINT). The issue is that `api` and `repo.lock` files in repo are not cleaned up.

[code]
And it throws following error:

[code]

go-ipfs-dep: 0.4.14
ipfsd-ctl: 0.31.0
Windows 10

Would appreciate any help, thank you :)

[2018-03-29 12:46] VictorBjelkholm commented on #223
We're already testing js-ipfsd-ctl on nodejs 9.2.0. Is there a specific version you're thinking about?

[2018-03-29 12:48] alanshaw commented on #223
Possibly, I'm on 9.10.0. I'll add a reproducible example when I get a sec.

[2018-03-29 12:55] VictorBjelkholm commented on #223
I see. I added a test-run with 9.10.0 activated (together with the old ones we're already running): https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fjs-ipfsd-ctl/detail/master/40/pipeline/

[2018-03-29 12:56] VictorBjelkholm commented on #223
Nevermind, test with just 9.10.0: https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fjs-ipfsd-ctl/detail/master/41/pipeline

[2018-03-29 12:59] VictorBjelkholm commented on #223
On Jenkins (linux at least), the node-gyp builds are not even working properly: https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fjs-ipfsd-ctl/detail/master/41/pipeline/13

[2018-03-29 16:07] dryajov commented on #223
Taking a look now as well.

[2018-03-29 16:12] dryajov commented on #224
Could you try it with a js-ipfs node (`type: 'js'`)? Graceful shutdown has been implemented in ipfsd-ctl since the last couple of versions, I wonder if there is a regression in go-ipfs?

[2018-03-29 16:33] dryajov commented on #223
BTW - everything up until 9.8.0 seems to work as expected (I'm on 9.0.0 myself), v9.10.0 is pretty broken.

[2018-03-29 16:43] dryajov commented on #214
@JonKrone is this still an issue?

[2018-03-29 16:44] dryajov commented on #175
This has been addressed in https://github.com/ipfs/js-ipfsd-ctl/pull/221

[2018-03-29 16:44] #175 closed

[2018-03-29 16:46] dryajov commented on #193
This should be done with https://github.com/ipfs/js-ipfsd-ctl/pull/195

[2018-03-29 16:46] #193 closed

[2018-03-30 02:52] linonetwo commented on #214
@dryajov  Seems fixed, I'm using 0.28.2. @JonKrone  I think this can be closed.

[2018-03-30 02:56] linonetwo commented on #214
So now we can copy the huge repo to a flash drive, and init on it at another country.

[2018-04-01 14:58] negamaxi opened #225 "Non-disposable daemon has no api object"
This code produces daemon instance with no api object. Without config api object appears as expected.
[code]

[2018-04-01 15:09] negamaxi commented on #225
Ok, I get it. You need to run `.init()` first.

[2018-04-01 15:09] #225 closed

[2018-04-02 07:11] artvinn commented on #224
Tried with `type: 'js'` and the behavior is the same.

[2018-04-03 08:09] VictorBjelkholm commented on #223
This is probably related to https://github.com/jbenet/node-subcomandante/pull/6

[2018-04-03 20:29] negamaxi opened #226 "Trying to start non-disposable node fails on second attempt"
Electron app. Trying to start ipfs daemon in a renderer process with this piece of code:
[code]
If repo doesn't exists it works as expected: new repo get initialized, daemon starts, I can see it in my processes list and in `subprocess` field of `ipfsd`. But the next time demon does not start, despite the fact that `initialized` and `_started` fields are all true. No errors, `subprocess` field is n

[2018-04-03 21:45] #214 closed

[2018-04-04 18:30] dryajov commented on #226
Thanks for reporting this - it should indeed work for your use case. This seems like a bug.

[2018-04-04 22:56] travisperson commented on #226
Most likely the reason for this is because under `$IPFS_PATH` there exists an `api` file. In this case, ipfsd-ctl will skip setting up the daemon and simply return an `ipfs-api` instance for the address within the file.

We are only allowing 10500ms before we issue a `SIGKILL`. This will not allow the daemon to properly clean up and will leave around the `api` and `repo.lock` files under `$IPFS_PA

[2018-04-04 23:17] dryajov commented on #226
Thanks @travisperson! That could indeed be the reason.

@negamaxi could you check if the `api` file is being left behind after ipfsd-ctl shutdowns?

We did experiment with the `10500` (increased from `~7000` ms AFAIR), way back when we we're adding js-ipfs support and found it to be sufficient, but it could fail on certain envs I'm guessing.

@hacdias Have you experienced anything like this in `ip

[2018-04-04 23:49] dryajov commented on #226
@negamaxi I was able to reproduce this behavior by terminating the `ipfsd-ctl` process abruptly, which doesn't give `ipfs` a chance to shutdown gracefully. This could happen under a number of scenarios, but a few obvious ones I can think off are:

- kill -9 the ipfsd-ctl or ipfs process
- if running under an ide and/or debugger, stopping the process will usually kill it abruptly
- slower system mi

[2018-04-04 23:54] dryajov commented on #224
@artvinn do you wait for `ipfsApi.stop()` to come back before exiting your process? For background please check #226. The gist of the issues is that you have to give time to `ipfsd-ctl` to exit before exiting your process.

[2018-04-05 17:41] negamaxi commented on #226
@dryajov both `repo.lock` and `api` files confirmed. Removing `api` file solves the issue. I'm not sure how exactly ipfs terminates right now, it's just happens when I close electron window. Suppose I should intercept close event and use `ipfsd.stop()` method to be sure ipfs shuts down gracefully?

[2018-04-05 17:50] negamaxi commented on #226
@dryajov also should I check for those two files and remove them on app start? There are definitely will be cases when app won't be able to shut down gracefully.

[2018-04-05 18:01] travisperson commented on #226
If you are not shutting down the daemon it self through `ipfsd.stop()` there is a high chance of the daemon not shutting down gracefully.

Take a look at [ipfs-shipyard/ipfs-desktop](https://github.com/ipfs-shipyard/ipfs-desktop/blob/657373a195a805424acf2bf746fcddf08d05fbfd/src/index.js#L269-L273) and how it handles the daemon management. It seems to do a fairly good job.

You may not want to remo

[2018-04-05 19:12] negamaxi commented on #226
@dryajov @travisperson big thanks to both of you.

[2018-04-05 19:12] #226 closed

[2018-04-06 09:58] artvinn commented on #224
@dryajov you can close this now, as #226 answered it. Thanks.

[2018-04-06 16:37] #224 closed

[2018-04-13 20:10] bizimUfuk opened #229 "Non-disposable Daemon fails to initialize from custom repo"
Hello,
Maybe a noob question, but I cannot find a way out.
I am trying to spawn a non-disposable daemon with a custom repo in VM environment (Ubuntu 16.04, Node 9.11.1)

Test code is as following:
[code]
When I run it, the `./.ipfsdctlrepo` folder is created and code exits properly. But if repo is already created, it fails with error:

I located the issue to the file named "version" in the repo. I

[2018-04-13 20:26] dryajov commented on #229
`ipfsd.init` assumes that there is no prior repo, that's why it fails. Your logic should account for that and be to detect if the repo is already created, I would simply let `ipfsd.init` fail if the repo exists and continue with `ipfsd.start` (after making sure I get the appropriate error message). There are some good examples in https://github.com/ipfs-shipyard/ipfs-desktop/blob/6a56921ca2e30389d

[2018-04-16 22:57] Powersource opened #230 "The api is sometimes unresponsive when running in electron"
How to reproduce:
1. Clone https://github.com/Powersource/ipfsd-ctl-no-start
2. Make sure you're running [a compatible node version](https://github.com/ipfs/js-ipfsd-ctl/issues/223).
3. `npm install`
4. `node index.js` id() should print every time.
5. `npm start` (i.e. electron) and open the console. id() prints around 25%-50% of the time.

Been haunted by this bug or variations of it for quite so

[2018-04-16 23:28] Powersource commented on #230
Arch Linux

[2018-04-17 21:00] Powersource commented on #230
Anything I should try/any debug info that would be helpful? I'd be willing to help out with fixing this if I only knew where to begin :P

[2018-04-17 22:26] dryajov commented on #230
@Powersource that would be awesome, any help is always welcome!

- Could you please verify that both your original implementation and your sample repo are using non-disposable repos (`disposable: false`).
- Can you also run with debug enabled - `DEBUG='ipfsd-ctl:*' npm run start`, and attach the output of a failed run here? The debug output should show up in the console in your electron window.

[2018-04-17 22:33] Powersource commented on #230
About to go to bed but I can already say that I haven't tried with a non-disposable repo for quite a while. Both the app and the linked example are set to disposable.

[2018-04-19 07:32] artvinn opened #231 "Misleading documentation of f.spawn"
Hi guys. Found an information in docs a little misleading.

[Docs](https://github.com/ipfs/js-ipfsd-ctl#spawn-a-daemon-with-fspawnoptions-callback) state that you can pass ```args``` array with options, however if daemon is non-disposable these args are not taken into account later when calling ```start()``` and you still need to pass ```flags``` argument directly.
https://github.com/ipfs/js-ipfsd

[2018-04-20 08:59] Powersource commented on #230
Tried to replicate on my laptop (arch too, disposable nodes for now). I didn't manage to break it completely, but the 50% chance of it working correctly is still there. When it didn't work instantly it instead, very consistently, took very close to 1 minute (just below) to print id():
[code]
I'll try a non-disposable setup later.

[2018-04-20 21:02] dryajov commented on #231
Hmm... good catch! Thanks!

I agree we need to merge this args with the ones passed to `.spawn`, with the condition that flags passed here, override the ones given to `.spawn`.

[2018-04-25 18:04] musicsmithnz commented on #213
I got the same error, even though I installed "ipfs". I then tried again with "go-ipfs-dep" and it worked fine. I'm not sure why, but the plain "ipfs" package doesn't seem to work in this setup.

[2018-04-29 08:27] VictorBjelkholm opened #234 "Program run via `exec` and outputting to stderr assumes failure"
Currently if you try to run a js-ipfs daemon via js-ipfsd-ctl with `DEBUG` set to `*`, ipfsd-ctl will not work correctly and assume that the js-ipfs daemon outputs errors, since the npm module `debug` outputs to stderr.

Rather than just seeing if there is data on stderr and fail if there is, we should save the data and output it if the exit status is not 0.

Line in question that makes the assump

[2018-04-29 17:15] dryajov commented on #234
Thanks @VictorBjelkholm! This sounds reasonable and seems like it would fix our logging issues 👍

[2018-05-01 19:43] travisperson commented on #223
We just published v1.2.0 for node-subcomandante, which should fix this issue. I ran the tests locally, but am running into what I believe is a type check issue when running `js-ipfs` in proc.

https://github.com/ipfs/js-ipfs/issues/1331

[2018-05-01 21:11] lukas2005 opened #235 "Can't start a node. spawn just hangs"
I have this code:
[code]
It's a build script meant to render all my pug files and then publish the web front end to IPFS.
but node seems to just freeze on `	ipfsd.spawn()`
Output of the script:
[code]

[2018-05-01 21:59] travisperson commented on #223
[code]
---------
[code]

This resolves down into:

 - `ipfsd-ctl` wants `ipfs-repo@0.19.0`, and `ipfs` wants `ipfs-repo@0.18.7`,
 - `ipfs-repo@0.19.0` uses `ipfs-block@0.7.1`
 - `ipfs-repo@0.18.7` uses `ipfs-block@0.6.1`

Both of these packages check blocks differently, so they are not compatible.

Downgrading the `ipfs-repo` dependency of `ipfsd-ctl` to `ipfs-repo@0.18.7` fixes the issue and all

[2018-05-01 22:28] lukas2005 opened #236 "How do i access the gateway?"
I want to load my web front end from IPFS in an electron app.
I currently have this code:
[code]
but the gateway doesn't work. Do I have to add any options?

[2018-05-02 00:45] travisperson commented on #223
Sorry if this was confusing. The block error has nothing to do with Node.js v9.9.0 or `node-subcomandante`, I'm just unable to verify that the newly published version of `node-subcomandante` works in master due to the block issue _without_ downgrading the dependency `ipfs-repo`.

Everything works correctly in Node.js v9.9.0 if I downgrade `ipfs-repo` to a compatible version that works with the `js

[2018-05-02 00:56] dryajov commented on #223
@travisperson oh! Got you, thanks for clarifying - this makes sense then 👍

[2018-05-02 04:48] dryajov commented on #236
It doesn't seem like you're waiting for the node to start. Perhaps, you could try placing your `spawn` code inside the `on('ready')`? Just an idea....

[2018-05-02 07:18] lukas2005 commented on #236
Hmm looks like it didn't change anything. I can't even access the gateway thru the browser

[2018-05-04 11:43] vasco-santos opened #237 "Daemon Spawning throws error with the new multiaddr version"
`js-ipfs-api` tests are broken using multiaddr@5.0.0, when spawning the daemon.

Basically, the gateway address generated by `js-ipfsd-ctl` has an additional space at the beginning of the string. As a result, an exception is thrown, as implemented in https://github.com/multiformats/js-multiaddr/blob/master/src/index.js#L41.

[code]

[2018-05-04 11:44] vasco-santos commented on #237
I will open a PR for solving this issue

[2018-05-06 13:32] #237 closed

[2018-05-07 16:17] lukas2005 commented on #236
Nevermind now it works :P

[2018-05-07 16:17] #236 closed

[2018-05-07 17:10] Mr0grog opened #239 "Spawn callback can be called multiple times"
In #233, we created a new bug for in-process factories where the callback to `factory.spawn()` could be called multiple times. See the conversation at the end for an [minimal test case](https://github.com/ipfs/js-ipfsd-ctl/pull/233#issuecomment-386658619) and a [solution](https://github.com/ipfs/js-ipfsd-ctl/pull/233#issuecomment-386670466) by @dryajov.

[2018-05-08 09:04] vasco-santos commented on #239
Thanks for creating this issue @Mr0grog, as well as @dryajov for the solution proposal!

I think you wanted to assign @hugomrdias instead of @fsdiogo 😛

[2018-05-08 09:32] hugomrdias commented on #239
Yeah this is related to this https://github.com/ipfs/js-ipfs/pull/1335 ill try to include a fix for this when this PR and dependencies are release.

[2018-05-08 17:08] Mr0grog commented on #239
Oops, yes, sorry! 😬

[2018-05-08 17:51] hugomrdias commented on #239
After reviewing this, i can't see the issue here this works exactly as its suppose to work. With just minor changes to repro this looks much better :)

[code]

you get

[code]

At least now we don't have hidden errors, and we can handle and propagate them as we want!

[2018-05-08 18:01] Mr0grog commented on #239
@hugomrdias the log line:

[code]

Is coming from the second call of the spawn handler, which should not be happening. That is the bug.

[2018-05-08 18:03] dryajov commented on #239
I get a slightly different error, but triggered twice running against master

[code]

[2018-05-08 18:03] hugomrdias commented on #239
Yes it should because the code forces and error inside the execution of the first call.

[2018-05-08 18:06] Mr0grog commented on #239
*What* should do *what?* I’m not quite sure I’m following you here.

From my perspective, If I call:

[code]

That `spawn()` callback should only *ever* happen once, no matter what. That’s pretty standard for any callback, and that’s the expectation we’re breaking. It’s not an event handler.

[2018-05-08 18:11] hugomrdias commented on #239
Its the same error, so we only handle at the top level.

I respectfully disagree if you force an error inside the first execution, i expect the callback to run again so i can handle the error or else propagation dies.

[2018-05-08 18:43] dryajov commented on #239
@hugomrdias I added a clarification to - https://github.com/ipfs/js-ipfsd-ctl/issues/239#issuecomment-387496192

For context, I was driving the original rewrite of this module - https://github.com/ipfs/js-ipfsd-ctl/pull/176

[2018-05-08 22:29] VictorBjelkholm opened #242 "Make CI green again"
Currently, master has not had a passing build since 6 of April (https://ci.ipfs.team/job/IPFS/job/js-ipfsd-ctl/job/master/) and none of the PRs are having green builds right now.

Since js-ipfsd-ctl is a integral part in our development and testing, we have to make the tests pass as long as the code is correct. Having flaky tests is a deal breaker, as we start ignoring the test results.

I'm not s

[2018-05-08 22:46] dryajov commented on #242
Agree. Now that most changes related to `class-is` have been bubbled, it should be green again. Looking into it now.

[2018-05-09 07:11] dryajov commented on #239
Here is a PR addressing this issue - https://github.com/ipfs/js-ipfsd-ctl/pull/243

[2018-05-09 09:49] vasco-santos commented on #239
Hey @Mr0grog @dryajov @hugomrdias

Error handling is a complex task and it is good that we are trying to get the best approach.

Personally, I don't see any problem in having callbacks executed more than once, since it is a common pattern in JS.  The error is caught and the following code is not executed.

Taking into account the current flow, if the node does not start correctly, the callback is

[2018-05-09 14:43] vasco-santos commented on #239
Removing a listener, because you know that it will be executed next is not a sound solution. But, we can receive more opinions here.

For instance, on the server side each time a http-server receives a request, the same callback is executed.

[2018-05-09 17:31] vasco-santos commented on #239
After discussing with @dryajov , we agreed that in spite of not being a good looking solution, we have to proceed with this change, in order to maintain consistency among all daemon types!
Thanks @dryajov

[2018-05-09 17:35] Mr0grog commented on #239
I think at least part of the problem here is vague language. *Callback* is a really broad term, and there are different kinds of callbacks. One classical distinction is by categorizing them into *event handlers* and *completions/continuations.* The way these two things are treated is different: *completions or continuations* only get called once — they represent the *completion* of a single operat

[2018-05-10 03:09] xuruijing opened #244 "example run failed"
I use command "npm install --save ipfsd-ctl" and "npm i ipfs", then run a example.
$ node local-disposable.js

/Users/xuruijing/Downloads/js-ipfsd-ctl-master/src/utils/find-ipfs-executable.js:34
  throw new Error('Cannot find the IPFS executable')
  ^

Error: Cannot find the IPFS executable
    at module.exports (/Users/xuruijing/Downloads/js-ipfsd-ctl-master/src/utils/find-ipfs-executable.js:34:9

[2018-05-10 09:20] vasco-santos commented on #244
Hello @xuruijing

Thanks for reaching out with this issue. I went to `js-ipfsd-ctl` master branch and did exactly as you mentioned:

- `$ cd examples/local-disposable`
- `$ npm install ipfsd-ctl`
- `$ npm install ipfs`
- `$ node local-disposable.js`

After this, I got an error different from yours:

[code]

This error is already fixed, but the new version is not released yet. Accordingly, if you c

[2018-05-10 09:42] xuruijing commented on #244
I tried again according to the above steps, the problem is still, I'm using version of node 8.11.1. I saw "node_modules" under "locale-disposable", and there was ipfs in it, so I don't know why it couldn't find ipfs?

[2018-05-10 09:56] vasco-santos commented on #244
Well, I changed my node version to 8.11.1 as well, and I can run the example as well. Did you link the master implementation of `js-ipfs`?

[2018-05-10 10:26] xuruijing commented on #244
yes. What more detailed information do I need to provide? I upload my directory structure.
![1525947786319](https://user-images.githubusercontent.com/15903078/39865483-9f94dcd6-547f-11e8-9e5d-c2d7e29b5149.jpg)

[2018-05-10 10:54] fsdiogo commented on #244
Hey @xuruijing, you probably didn't `npm i` in the root directory, that's why IPFS can't be found.

Follow these steps:

1. Go to the root of the `ipfsd-ctl` and run `npm i`
2. Go to `examples/local-disposable` and run `npm i`
3. Clone the `js-ipfs` repo
4. Go to the root of `js-ipfs` and run `npm link`
5. Go to `examples/local-disposable` and run `npm link ipfs`
6. Run `node local-disposable.js`

[2018-05-10 11:14] xuruijing commented on #244
Go to the root of the ipfsd-ctl and run npm I

![1122](https://user-images.githubusercontent.com/15903078/39867195-54381ab2-5486-11e8-8d89-8bb52a767a5b.png)

[2018-05-11 02:50] xuruijing commented on #244
I clone a fresh ipfsd-ctl repo, Go to the root of the ipfsd-ctl and run npm I, the problem is still.

![2018-05-11 10 48 41](https://user-images.githubusercontent.com/15903078/39904107-eec3ad1c-5508-11e8-8cef-d363775c6b5b.png)

[2018-05-11 03:10] xuruijing commented on #244
/Users/xuruijing/Downloads/js-ipfsd-ctl-master/examples/local-disposable/node_modules/ipfs -> /Users/xuruijing/.nvm/versions/node/v8.11.1/lib/node_modules/ipfs -> /Users/xuruijing/Downloads/js-ipfs-master

/Users/xuruijing/Downloads/js-ipfsd-ctl-master/src/utils/find-ipfs-executable.js:34
  throw new Error('Cannot find the IPFS executable')
  ^

Error: Cannot find the IPFS executable
    at module

[2018-05-11 17:05] vasco-santos commented on #244
So @xuruijing the `npm i` command is not working correctly right? Is [this](https://github.com/ipfs/js-ipfsd-ctl/issues/244#issuecomment-388244340) log from `npm i`?

Basically, the problem is with the `go node`. The example does not find the `go-ipfs-dep`.

[2018-05-11 17:43] dryajov commented on #244
Note: I'm not claiming its failing because of that (or even that it is blocked), but the fact that it fails to download might indicate some network failure or a blockage.

[2018-05-14 18:05] VictorBjelkholm commented on #242
@dryajov seems we could already open a PR and [manually override the node modules](https://github.com/ipfs/jenkins-libs/#example-2) to at least see if makes it green, correct?

[2018-05-14 18:36] dryajov commented on #242
@VictorBjelkholm We can, but that would still break for our users, wont it?

I think what we need is to release a hot fix `js-ipfs` with the locked `js-ipfs-repo` version to `0.20.0`. The reason this is all broken now, is because we used `^` for `0.x.x` versions, and broke semantic versioning in `js-ipfs` - this is now broken for **_everybody_** not just `ipfsd-ctl`. I think this is pretty bad, bu

[2018-05-14 18:40] dryajov commented on #242
Ah, I take that back @VictorBjelkholm - we only need to pin it down here, js-ipfs is fine as it is still on `0.18.x`...

[2018-05-14 18:46] dryajov commented on #242
The `^` vs `~` issue still stands, as we're wrongly using `^` for `ipfs-version` here - https://github.com/ipfs/js-ipfsd-ctl/blob/master/package.json#L89, which forces it to pick up the latest, `ipfs-repo` version `0.21.0`. We need to pin it to `~0.20.0`.

[2018-05-14 18:51] VictorBjelkholm commented on #242
@dryajov yeah, I just wanted to confirm that what we think would solve the issue, actually solves it (reproduce it externally so we can be 100% nothing more needs to get done).

Speaking about `^` vs `~`, is there a reason we don't just specify the versions as-is, without any version ranges? Having dependencies automatically switch out from under you feels like a bad default. Way easier to just re

[2018-05-14 19:09] VictorBjelkholm commented on #242
@dryajov lock files would be nice. Would be even nicer with lock files that works both for yarn (I know many of the devs that uses yarn (and me) + CI uses yarn) and npm (probably most people still using npm?), since they have different ones. Locking the version directly in package.json works for both though.

[2018-05-14 19:12] dryajov commented on #242
good point, forgot about incompatible lock files 😭

[2018-05-16 09:45] alanshaw commented on #208
Any progress on this? I've encountered it again...

[2018-05-16 19:56] wraithgar opened #246 "process.env.IPFS_TYPE is incorrectly checked"
In the ipfsd-daemon.js file, as far as I can tell, the module `truthy` is being used to check `process.env.IPFS_TYPE`, and only if that returns true is it then used to override the default of `go`

Code here: https://github.com/ipfs/js-ipfsd-ctl/blob/a0d2e3746ee06c5ade273cd705d75a90f4aaf314/src/ipfsd-daemon.js#L44-L46

[code]

Since `truthy('js')` returns false, it will never be used.

[2018-05-17 09:35] xuruijing commented on #244
I am in China, so it is possible that some modules are blocked. I tried this to see if I could run the ipfs node on IOS (mainly gateways), and I haven't succeeded yet.

[2018-05-17 09:35] vasco-santos opened #249 "Create non-disposable node example"
It would be important to have a non-disposable node example, since several issues were created in this context.

Important reference: https://github.com/ipfs/js-ipfsd-ctl/issues/229

[2018-05-17 09:37] vasco-santos commented on #229
@dryajov @bizimUfuk I created a new issue for the non-disposable node example.

This way, I can close this issue, since it seems solved.

[2018-05-17 09:37] #229 closed

[2018-05-17 10:07] vasco-santos commented on #244
Can you test this behind a VPN / Proxy, in order to identify if that is really the problem?

[2018-05-17 10:12] xuruijing commented on #244
I've been using a VPN, and I don't know why some blocked addresses are still inaccessible.

[2018-05-17 14:21] alanshaw opened #250 "How do I get the API address for a disposable in process node?"
[code]

For a go daemon:

[code]

[2018-05-17 14:50] alanshaw opened #251 "How do I set config for in process node?"
[code]

output:

[code]

Also tried:

[code]

output:

[code]
---

For Go daemon this works:

[code]

output:

[code]

`config.config` does not:

[code]

output:

[code]

(wrong port)

[2018-05-17 15:40] alanshaw commented on #250
ok ignore this, I realised the in process node doesn't expose an API!

[2018-05-17 15:40] #250 closed

[2018-05-18 12:37] alanshaw opened #253 "Spawn multiple nodes in parallel causes error"
[code]

The [spawn utility](https://github.com/ipfs/interface-ipfs-core/blob/master/js/src/utils/spawn.js) currently spawns in parallel and fails when spawning 5 nodes for the DHT tests.

This seems to occur only on Linux and only from the webworker tests.

[2018-05-18 13:12] alanshaw opened #254 "Also bring your own API?"
To quote the README:

How about also bring your own API?

It means that you can use an API that is compatible with the node you're spawning.

[2018-05-18 16:42] vasco-santos commented on #254
Hey @alanshaw !

I think it would be a good enhancement to the `js-ipfsd-ctl`, as well!

[2018-05-23 00:53] daviortega opened #260 "api.files.stat() not working"
Hi there,

First of all, big fan here of the work you guys are doing. Now I am trying to get the `stat` of a file in the IPFS and I think I am stuck.
In my `package.json` I have `go-ipfs-dep` installed and my node version is `9.10.1`.
This is my code:
[code]

So I get the `id` and `config` info, but the `files.stat()` hangs. The commented line `files.add()` works but `files.get()` (not shown in co

[2018-05-23 01:25] dryajov commented on #260
Hi @daviortega, most likely the reason you're not able to fetch the file is because you're using disposable repos. Have you tried `.add()`ing the file and the `.get()`ting it immediately after? Does it work?

[2018-05-23 02:26] daviortega commented on #260
Yup... that works. Thank you @dryajov.
so I am trying now to use a `non-disposable` repo.

I guess this issue is closed, but do you ming giving me an advice on how to change this code to make a `non-disposable` repo?

I read the example you suggested in another issue, but I am still having trouble.

[2018-05-23 02:45] dryajov commented on #260
Well, in order to be able to retrieve the file, you need to add it to either your peer repo, or any other peer that you are connected to. So, the question is - when and how is this file being added? Can you please show the complete example?

[2018-05-23 11:49] xuruijing commented on #244
I delete go-ipfs-dep, only use js-ipfs, example of local-disposable is ok. Thank you for your help. There is a question, does this project launch the ipfs daemon, including the gateway? If include, how get the gateway address.like ` ipfsd.api.id` in examples. @vasco-santos @dryajov

[2018-05-23 11:49] #244 closed

[2018-05-23 22:17] daviortega commented on #260
Hi @dryajov, the "test" file I am using is [here](https://gateway.ipfs.io/ipfs/QmPeph5cHyU9TC44RUxVgPKbgEEgT9GUBKnXGwU6aLWzcj/) in another node that we have. So the file is already in the IPFS.

If I am running the stand alone `ipfs` daemon in my computer, I can use `js-ipfs-api` to get the `file.stats`. Or if I use the `ipfs` it also works:
[code]
So, in a sense, this is the complete example for

[2018-05-24 06:56] xuruijing commented on #260
I have a similar problem. I have started js-ipfs daemon via js-ipfsd-ctl, but the gateway does not have access to it, and I can't ping it successfully.

[2018-05-24 20:57] Powersource commented on #230
I [tried with a non-disposable node](https://github.com/Powersource/ipfsd-ctl-no-start/tree/non-disp-node) iirc but that didn't help.

However, I just now upgraded from electron 1.8.4 to electron 2.0.2 and it works great now! Most of the time instantly, sometimes takes a few seconds but probably not more than 10 at most. So happy this is fixed, I was going crazy :joy: :tada: :tada: :tada:

There a

[2018-05-24 20:57] #230 closed

[2018-05-30 08:10] diasdavid commented on #242
@vasco-santos now that js-ipfs has been released, you can updates and get CI green again.

[2018-05-30 08:48] diasdavid commented on #239
Has this been fixed? Is there a test that reproduces the case?

[2018-05-30 08:50] vasco-santos commented on #239
It has been fixed in [PR 234](https://github.com/ipfs/js-ipfsd-ctl/pull/243/files). And a test is also added. I will close this issue.

[2018-05-30 08:50] #239 closed

[2018-05-30 10:30] vasco-santos commented on #242
@diasdavid [CircleCI](https://circleci.com/gh/ipfs/js-ipfsd-ctl/836?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) is not green yet!

Last time it was green was in @dryajov [PR](https://github.com/ipfs/js-ipfsd-ctl/pull/243). Dmitriy do you know what is wrong now?

[2018-05-31 01:20] dryajov commented on #242
The failures come from the version logic:

<img width="903" alt="screen shot 2018-05-30 at 7 09 12 pm" src="https://user-images.githubusercontent.com/1094341/40756003-40af254a-643e-11e8-9b1b-ed267a30652f.png">
<img width="1299" alt="screen shot 2018-05-30 at 7 08 48 pm" src="https://user-images.githubusercontent.com/1094341/40756004-40c5cd72-643e-11e8-9988-62237c88b7d6.png">

There is a bug in js-

[2018-05-31 14:44] vasco-santos commented on #242
Thanks for your analyzes @dryajov !

[2018-06-01 08:11] xuruijing opened #264 "What's the difference between proc and js types"
`proc ` ,  `js`   What's the difference between these two types?  I use the type `js`, the gateway address `IPFS gateway: /ip4/127.0.0.1/tcp/52403`  after startup, and when I start with the type `proc `, the gateway is `IPFS gateway: /ip4/127.0.0.1/tcp/0`  , like the gateway doesn't work

[2018-06-01 11:16] alanshaw commented on #242
@dryajov I'm confused, https://github.com/ipfs/js-ipfs-repo/pull/164/files#diff-1fdf421c05c1140f6d71444ea2b27638R216 didn't change the error message

[2018-06-01 19:57] vasco-santos commented on #242
CI is green again!! 🙌
Thank you all

[2018-06-01 19:57] #242 closed

[2018-06-04 08:34] diasdavid commented on #253
Solved with https://github.com/ipfs/interface-ipfs-core/pull/276

[2018-06-04 08:34] #253 closed

[2018-06-04 10:58] xuruijing commented on #264
@vasco-santos Can I launch the gateway in `proc` mode?

[2018-06-04 11:20] vasco-santos commented on #264
Hey @xuruijing

Basically, when using `type: 'js'` and `type: 'go'` , the daemon node is started behind the scenes (using the installed versions).

If you use tye `type: proc`, you are free to use your own IPFS executable. This way, you have to provide an executable to the `spawn` call.

[code]

So yeah, you can launch the gateway in proc mode, as well.

[2018-06-05 03:19] xuruijing commented on #264
I wrote it the same way, but I commented out the last line of code（ `ipfsd.stop(() => process.exit(0))` ），Then use the browser to access 127.0.0.1:9090, the display is unsuccessful. I added a line of code to show the gateway address（ `console.log('IPFS gateway: ${ipfsd.gatewayAddr}')` ）, and the result is this( `IPFS gateway: /ip4/127.0.0.1/tcp/0`).

[2018-06-05 13:23] #246 closed

[2018-06-06 07:06] xuruijing commented on #260
How to create the server? @daviortega

[2018-06-06 07:49] xuruijing commented on #236
@lukas2005  Have you tried the gateway in PROC type? I have been unable to access the gateway in this type

[2018-06-07 03:01] xuruijing commented on #264
@vasco-santos According to the above code, I did not access the gateway, is there anything missing?

[2018-06-07 11:12] xuruijing opened #266 "cannot access the gateway in PROC mode"
Start the DAEMON in PROC mode and cannot access the gateway. The configuration `ipfsd.gatewayAddr`  is displayed as`ip4/127.0.0.1/tcp/0`. Am I calling the wrong or the code Bug?

[2018-06-11 17:37] vasco-santos commented on #264
@xuruijing

Basically, the `proc` daemon runs an IPFS Node inside its current process. This way, the IPFS gateway is launched as you can see, but you cannot interact with it externally since it is inside the process scope.

For interacting by HTTP with the daemon using this module, you have to use the other types.

It would be helpful if you create a PR explaining this in the `README.md`.

[2018-06-11 17:39] vasco-santos commented on #266
Hey @xuruijing

I explained why you cannot access it in this [issue](https://github.com/ipfs/js-ipfsd-ctl/issues/264#issuecomment-396324490). Did this clear your doubts regarding this issue?

[2018-06-12 07:09] xuruijing commented on #266
I understand your explanation. Thank you very much.
Can I manually start this gateway by code to do its job? Or is there a similar way to do it?

[2018-06-12 09:00] vasco-santos commented on #266
You can interact with the node programmatically, not by network communication. So, as far as I know, you cannot do it by code, or at least not easily. I recommend you to use the other types of daemon instead.

[2018-06-12 10:17] #264 closed

[2018-06-13 23:54] jacobheun commented on #208
I created https://github.com/ipfs/js-ipfsd-ctl/pull/268 to resolve a separate issue I was having with `options.Bootstrap` not being overridable (which is painful when testing private networks). It does not do what @dryajov is proposing for the experimental args, but it does pass the config to the created IPFS node.

[2018-06-14 09:27] vasco-santos commented on #208
I would go with @jacobheun solution by now, and we can have @dryajov solution afterward. What do you think? @dryajov @alanshaw

[2018-06-19 12:54] diasdavid opened #271 "Examples are out of date"

[2018-06-19 12:54] #271 closed

[2018-06-19 12:55] diasdavid commented on #266
@xuruijing a `proc` node is an instance, not a daemon. Only the daemons expose the gateway.

See how here https://github.com/ipfs/js-ipfsd-ctl/blob/master/examples/local-disposable/local-disposable.js#L11-L47

[2018-06-19 12:55] #266 closed

[2018-06-19 20:26] negamaxi opened #272 "IPFS deamon doesn't work with qBittorrent runing in background"
I use the following code to spawn go ipfs daemon:
<details>
<summary>Code</summary>

[code]
</details>

It works fine until qBittorrent runs in parallel, then I get `ECONNREFUSED host:port` error from IPFS api and gateway as well. No ipfs daemon presence in `netstat -lptu` output. No errors on `spawn`, but `node.start` **sometimes** produces `CANNOT ACCESS CONFIG, REPO NOT OPEN`.

If I remove ipfs

[2018-06-20 13:46] negamaxi commented on #207
@diasdavid currently there is no way to enable pubsub for js-ipfs daemon?

[2018-06-20 14:17] achingbrain commented on #234
This should be fixed by #270

[2018-06-20 14:43] #234 closed

[2018-06-21 09:12] xuruijing opened #273 "ipfs.name.publish and ipfs.name.resolve is error"
I use ipfs.name.publish and ipfs.name.resolve, The results showed`TypeError: Unable to get property 'resolve' of undefined or null reference`. Is jsipfs not implementing both methods？But there is in the ipfs-api

[2018-06-21 09:15] vasco-santos commented on #273
Hello @xuruijing

I am currently implementing IPNS for `js-ipfs` as you can see [here](https://github.com/ipfs/js-ipfs/pull/1400). Consequently, the IPNS is not available through `js-ipfs` yet.

[2018-06-21 09:15] #273 closed

[2018-07-04 08:57] xuruijing opened #275 "api.files.cat has timeout or cancellation？"
When I used the `api.files.cat`, I gave a non-existent hashcode, and the result callback was never called. Is there a timeout callback for this type of operation? Or is there a method to cancel the call?

[2018-07-04 10:21] vaibhav6233m opened #276 "TypeError: Cannot read property 'id' of null"
I am trying a simple example to spawn IPFS node inside the electron main process.

I am getting this issue if I try to pass custom options inside f.spawn() method.
If I don't pass any options then it starts the node.

See SS:

![screenshot from 2018-07-04 15-47-09](https://user-images.githubusercontent.com/29979122/42271810-dd1ef526-7fa1-11e8-8a80-d82c7f5a2c9e.png)
![screenshot from 2018-07-04 15-

[2018-07-05 05:44] vaibhav6233m commented on #276
I came to know that if you pass `disposable: true` then the node starts with the settings provided, but I still need to maintain the custom node repo inside electron app config folder.

[2018-07-05 09:46] vasco-santos opened #277 "Spawn options - args"
I was trying to add the pass cli argument to the [spawned](https://github.com/ipfs/js-ipfsd-ctl/blob/master/README.md#spawn-a-daemon-with-fspawnoptions-callback) daemon and it was problematic because we have to pass the argument and its value in different entries of the args array.

[code]

We should allow to use them both in the same entry of the array, or provide a better documentation for this

[2018-07-09 08:09] negamaxi commented on #272
With `defaultAddr: true` spawn option issue is gone by the way.

[2018-07-09 08:46] negamaxi opened #278 "IPFS Companion shows no peers"
If IPFS node spawned with a `defaultAddr` option set to `false` (default value) than peers number is always at 0. Is it expected behavior?

![ipfs-no-peers](https://user-images.githubusercontent.com/16529171/42440112-5c0ffbf4-836d-11e8-88f5-12d2fd52e056.png)

[2018-07-09 11:02] negamaxi commented on #278
I've found [this issue](https://github.com/ipfs/go-ipfs/issues/5146) in go-ipfs repo that seems to be related.

[2018-07-15 07:20] diasdavid opened #280 "speed boost: gen 200 PeerIds in advance"
Me, @hugomrdias and @vasco-santos talked about this last week. If we have 200 PeerIds generated before hand, we can add a option to ipfsd-ctl that tells it just being used for tests (e.g. { test: true }) so that it takes from the PeerId pool rather than trying to gen PeerIds each time. This will dramatically speed up tests everywhere.

[2018-07-25 03:50] Stebalien commented on #278
What's the `defaultAddr` option?

[2018-07-25 21:22] negamaxi commented on #278
@Stebalien defaultAddr**s**. If set to `true` ipfsd-ctl [will not set](https://github.com/ipfs/js-ipfsd-ctl/blob/master/src/factory-daemon.js#L125) [random ports](https://github.com/ipfs/js-ipfsd-ctl/blob/master/src/defaults/config.json) for API and gateway.

Actually, the issue is gone in the latest go version (4.0.16). Closed I guess.

[2018-07-25 21:22] #278 closed

[2018-07-26 00:15] Stebalien commented on #278
So, the issue there wasn't the random port. It was the localhost only port.

[2018-07-26 00:18] Stebalien opened #281 "Listen on 0.0.0.0 by default"
By default, js-ipfsd-ctl spawns daemons that listen on localhost only. Given that it supports spawning non-disposable daemons, it should probably listen on 0.0.0.0 by default. Alternatively, this behavior should be well documented.

[2018-07-27 05:52] vaibhav6233m opened #282 "Enable Experimental Features(DHT, PubSub) while spawning type:'js' daemon."
How can we enable experimental features like DHT, Relay and PubSub while spawning `type:'js'` daemons?

In the js-ipfs examples this can be done using this while starting the nodes like [this](https://github.com/ipfs/js-ipfs/blob/a681fc5aea835ee83adcf900efb5168e7e31cde8/examples/circuit-relaying/src/app.js#L29)

`EXPERIMENTAL: { pubsub: true, dht: true, sharding: true }`

In `type:'go'`, node we c

[2018-07-27 10:16] vaibhav6233m commented on #207
@diasdavid Need some help on this. #282 @negamaxi Did you by any chance find any way to enable pubsub, relay and dht in js-ipfs.

[2018-07-27 19:58] negamaxi commented on #207
@vaibhav6233m not yet.

[2018-07-31 11:34] vaibhav6233m opened #283 "Unable to Enable Relay option while spawning the go-ipfs daemon."
I am looking for a solution to access the nodes behind firewall and NAT connections in Electron app using ipfsd-ctl with `Type:"go"`.
I came across the solution to use IPFS [Relay method](https://github.com/libp2p/specs/tree/master/relay) to overcome the NAT/Firewall issues.
I followed [this method](https://github.com/ipfs/go-ipfs/blob/master/docs/experimental-features.md#circuit-relay) for enabli

[2018-08-06 22:17] alanshaw opened #286 "Windows does not support SYSKILL"
Graceless fallback using it in windows fails with:

[code]

[2018-08-25 07:58] diasdavid commented on #275
Unfortunately not. Full thread on https://github.com/ipfs/interface-ipfs-core/issues/58

[2018-08-25 07:58] #275 closed

[2018-08-27 10:36] hugomrdias commented on #277
yeah it can be weird we should improve the docs and link to https://github.com/jbenet/node-subcomandante

[2018-08-27 10:48] hugomrdias commented on #254
@alanshaw this can be closed with this PR https://github.com/ipfs/js-ipfsd-ctl/pull/261

[2018-08-27 10:59] hugomrdias commented on #280
check PR https://github.com/ipfs/js-ipfsd-ctl/pull/284

[2018-08-27 11:02] hugomrdias commented on #210
We need to review that comment and extract some actions

[2018-08-27 12:59] #254 closed

[2018-08-27 15:59] hugomrdias opened #289 "ipfsd init start docs and behavior don't match"
https://github.com/ipfs/js-ipfsd-ctl/blob/master/README.md#initinitopts-callback
should be `ipfsd.init([initOpts], callback)` and also says init returns ipfsd be it doesn't.

https://github.com/ipfs/js-ipfsd-ctl/blob/master/README.md#ipfsdstartflags-callback
says it returns ipfsAPI be doesn't.

Probably all should return ipfsd.

[2018-08-28 10:53] hugomrdias opened #290 "can't run test with node 10.9.0"
probably something with subcomandante

[2018-08-28 14:37] hugomrdias opened #292 "make ipfsd.start return ipfsd instead of ipfs-api"
This would be a breaking change but i think it can be helpful.

[code]

either we do
[code]

or we can just return ipfsd from `start`, there are multiple ways to do this stuff but i think this makes sense and is helpful.

What you think ?

[2018-08-29 15:48] #289 closed

[2018-09-17 22:47] #280 closed

[2018-09-18 23:05] hugomrdias opened #295 "cannot measure perf gains with pre-gen ids"
linked js-ipfs master with ctl and double checked the code path was right just to make sure these results were real.
/cc @mkg20001

[code]
[code]

[2018-09-19 10:58] #223 closed

[2018-09-19 10:59] #290 closed

[2018-09-19 11:04] mkg20001 commented on #295
@hugomrdias The nodes need to be disposabshle nodes and should not have the `bits` option set to any value. I don't know if including ids for all common keys sizes (512, 1024 - 2048 already is added) makes sense, I could add that too if needed

[2018-09-19 11:07] hugomrdias commented on #295
that's what i tested with the code above bits = 512 vs disposable and no gains

[2018-09-19 11:10] mkg20001 commented on #295
Are nodes spawned as disposable nodes by default? Because the code says that `opts.disposable` has null as default https://github.com/ipfs/js-ipfsd-ctl/blob/master/src/ipfsd-daemon.js#L57 but I'm unsure if there is something I missed that changes that

[2018-09-19 11:11] hugomrdias commented on #295
yes they are

[2018-09-20 16:08] mkg20001 opened #296 "docs: route-overflow"
Just decided to check out the docs of this repo.

I think there is a bit too much "route" stuff there:
![screenshot](https://user-images.githubusercontent.com/7735145/45831494-cdc93c80-bcff-11e8-91d6-135f9ebfe382.png)

I'm guessing that this is comming from the server part of the client. It would be great if this could be cleaned up somehow.

[2018-09-20 17:33] hugomrdias commented on #296
next release will have better docs :) working on it
thx for the feedback

[2018-09-24 18:23] Stradivario opened #297 "console.log on a global level breaks the app, port mapping is not working and always return ECONNREFUSED 127.0.0.1:xxxxx"
Take a look at the this peace of code:

https://github.com/ipfs/js-ipfsd-ctl/blob/master/src/ipfsd-daemon.js#L277

I am facing my head against the wall 2 days and trying to understand why my daemon is not running as i expected and you know what ? I decided to add on first line of my application

process.env.NODE_ENV === 'production' ? console.log = () => ({}) : null;

And this obviously breaks up

[2018-09-25 14:47] alanshaw commented on #295
Is this a fair test?

The pregenerated keys are 2048 bits but we're comparing against 512. Is there a performance win when JS is set to generate it's own key of 2048 bits?

(btw I know the tests all use 512)

go-ipfs mandates a minimum of 1024 bits. js-ipfs should really do the same...will we get a performance win by using this feature when this happens?

It's worth double checking that the pregen

[2018-09-26 16:05] alanshaw commented on #295
Not at all! I'm just saying you could try with 2048 - that _should_ be a perf win or something really _is_ up.

Anyway, looks as though there's a small issue passing the pregenerated key when working with a daemon.

It _is_ faster with an in process JS IPFS (`{ type: 'proc', exec: require('ipfs') }`):

[code]

~18% faster

and with 1024:

[code]

~36% faster

I guess the `--private-key` option isn

[2018-10-03 15:03] hugomrdias commented on #295
Did further investigation and `bits` weren't even sent correctly to init.

[code]
[code]

These are the current results, as you can see 512 vs pregen its a draw. The variation is so big i did further digging into the code and ofc peer-id creation is faster with pregen, using node `perf_hooks` i measured 512 generation between 10 and 50 ms and pregen between 1 and 8 ms. This reveals super small gai

[2018-10-03 19:36] mkg20001 commented on #295
If the impact really is so insignificant then maybe it should get dropped
But I think that those pregenerated ids should still exist somewhere, maybe in another module so they are optional. There will always be key-releated tests that need a bunch of keys (and don't need a node)...

Could you check if the changes from https://github.com/libp2p/js-libp2p-crypto/pull/128 were already used? If not th

[2018-10-03 20:34] hugomrdias commented on #295
@mkg20001 this was great work and I still think it should exist here, would you be willing to make same changes ?
I would say remove all the bits and disposable conditions and make it simply behind a flag called pregen or something that makes sense and add some tests? I'll figure out the bundle size part

[2018-10-03 21:20] mkg20001 commented on #295
@hugomrdias

Sounds good. But if the idea below gets implemented we could also make it auto-enable on disposable: true without bits set. Or we could include different keysizes and make it so the user can set `pregen` as well as `bits` to get pregenerated ids for that particular size.

Another idea would be to make it a seperate module that one can simply plug-in:
[code]
Then we could even make it

[2018-10-03 21:47] mkg20001 commented on #295
:tada: I made this module https://github.com/mkg20001/ipfs-pregen-ids

(Note: Has been made at around ~10pm and generate.js isn't working because of https://github.com/wilk/microjob/issues/26 so expect bugs)

[2018-10-03 21:49] hugomrdias commented on #295
Sounds like a great plan. 🎉🎉🚀

[2018-10-04 19:29] mkg20001 commented on #295
:tada: :rocket: https://github.com/mkg20001/ipfs-pregen-ids has now been updated to include tests, bugfixes and more keysizes. Also generate.js works now.

[2018-10-04 19:45] mkg20001 opened #299 "Vulnerabilities..."
I know that 8 of those are from aegir (see https://github.com/ipfs/aegir/issues/275 for the progress of me trying to convince everyone that vulns are vulns regardless of whether they're dev deps or deps), but the rest **is not**!

Additionally I would recommend setting up snyk.io or similar to automatically get PRs with fixes for such vulns. (I'm not getting paid for this ad, it just makes my life

[2018-10-04 19:56] mkg20001 commented on #295
:tada: https://github.com/ipfs/js-ipfsd-ctl/pull/300

[2018-10-09 20:35] hugomrdias commented on #295
im closing this in favor of #300

[2018-10-09 20:35] #295 closed

[2018-10-10 08:19] hugomrdias commented on #299
this is all ipld can't really fix this here, but im aware of it and there's already an issue on ipld to fix this.
thanks for reporting

[2018-10-11 13:33] #296 closed

[2018-10-24 17:11] hugomrdias opened #305 "spawn non-disposable with init: true start: true doesn't work"
Check this https://github.com/ipfs/js-ipfsd-ctl/pull/304

[2018-10-27 17:30] diasdavid commented on #276
Being fixed at #304.

[2018-12-04 10:20] olizilla opened #312 "Transitive dep hapi@16 > cryptiles@3.1.4 triggers incorrect security advisory warnings on github"
The ipfs-desktop repo has a **incrorrect** sercurity advisory on it's transitive dep on cryptiles, which it gets via ipfsd-ctl > hapi > cryptiles.

[code]

The alert https://github.com/ipfs-shipyard/ipfs-desktop/network/alert/package-lock.json states we have to upgrade to cryptiles>=4.1.2 which would only be possible by updating to hapi@17.
<img width="749" alt="screenshot 2018-12-04 at 10 18 07"

[2018-12-17 11:19] olizilla commented on #226
Of note, Desktop was manually clearing out the `api` file it  found one  was preventing start-up, but that isn't safe as some folks manually craft an `api` file to point to a deamon running as a restricted user: https://github.com/ipfs-shipyard/ipfs-desktop/pull/722#issuecomment-444139824

Now we've removed the logic to clean up the repo, we keep hitting this problem. `ipfs deamon` can be killed a

[2018-12-17 12:05] olizilla opened #315 "Make ipfsd-ctl as robust as calling ipfs daemon manually"
With go-ipfs@0.4.18, `ipfs daemon` will start up cleanly even if there is an `api` file  or  a `repo.lock` file or both in `$IPFS_HOME`, as happens if daemon process is not shutdown gracefully.

`ifpsd-ctl` will fail with an `ECONNREFUSED` if there  is an `api`  file in the repo. This causes issues for apps written to use  ipfsd-ctl. The command line tool works fine but the  app can't start.

 A u

[2018-12-17 13:14] achingbrain commented on #315
Being able to override lock files would solve ipfs/js-ipfs#522 too.

I thought I'd opened an issue somewhere proposing something like:

[code]

..but now I can't find it.  Might have just been in my head.

[2019-01-14 10:35] daviddias opened #317 "Browser Daemon through Headless Chrome"
I've been thinking that it would be very useful to have a Browser Daemon, that is: a Headless Chrome Browser that exposes the same remote API over Websockets (possibly using https://github.com/ipfs-shipyard/ipfs-postmsg-proxy) so that we have a way to spawn Daemons that are capable of doing Browser specific transports (i.e. WebRTC).

This would facilitate the deployment of WebRTC Relay nodes and/o

[2019-02-11 20:12] daviddias opened #322 "Needs AEGIR released before releasing ipfsd-ctl"
https://github.com/ipfs/js-ipfsd-ctl/blob/master/package.json#L88

mea culpa 😔

[2019-03-28 16:43] peopeo opened #326 "Adjust Usage example and API doc"
The Api doc should tell that the default for option.type is "go" and not "js". If you run the usage example without explicitly set type to "js" you get an error message telling that ipfs executable cannot be found.

[2019-04-01 11:22] agentofuser opened #329 "ipfsd.pid() returns undefined when daemon already running"
Hi, I'm trying to start a daemon only if I can't connect to an already-running process (like from IPFS Desktop).

When trying to get the `pid` for it though I'm getting unexpected behavior.

The docs say this about `ipfsd.pid(callback)`:

I'm getting neither though, as `pid` comes out as `undefined`.

Is this function only valid for daemons started by `js-ipfsd-ctl` itself?

[code]

[2019-04-14 22:05] agentofuser commented on #281
I ran into this problem, and calling `spawn` with `defaultAddrs: true` fixed it.

[2019-04-15 11:27] vasco-santos opened #330 "Spawn daemon and args not used if disposable"
After discussing this issue on [ipfs/interop#60#issuecomment-483207296](https://github.com/ipfs/interop/pull/60#issuecomment-483207296), if we spawn a disposable daemon it will not start automatically.

In this context, as we need to start it manually, the possible args that we can provide on `spawn` options are not used in `start`. I think that we should merge the `args` that we provide via optio

[2019-04-16 14:36] hugomrdias commented on #330
need to merge this https://github.com/ipfs/js-ipfsd-ctl/pull/308 first

[2019-05-04 12:30] alanshaw opened #331 "Upgrade Hapi"
For security and performance reasons and also because when installing this module it now logs a bunch of disconcerting warning messages as seen here https://github.com/ipfs/js-ipfs/issues/2008

[2019-05-21 09:32] olizilla opened #333 "Dont allow api access from any origin by default"
The default config for nodes created by ipfsd-ctl allows api access from any origin

https://github.com/ipfs/js-ipfsd-ctl/blob/0ad2e1716f71ffd12e4886e3051a08147230c134/src/defaults/config.json#L2-L4

If people build apps that use this without understanding the risk they could put users at risk of allowing untrusted web-apps full access to their api.

ideally the default would be restrictive, as th

[2019-05-21 10:35] lidel commented on #333
I agree. We can't assume ipfsd-ctl will be used in tests, and the default config should be changed to ship without `Access-Control-Allow-Origin: *`.

Still, we don't want to manually set config in every test suite that relies on ipfsd-ctl.
Perhaps adding a separate opt-in `test` profile is a way to go?

[2019-05-23 11:12] olizilla commented on #333
That would be neat, but js-ipfs doesn't support the `profile` option and go-ipfs doesn't set any [api http headers when that profile is applied](https://github.com/ipfs/go-ipfs-config/blob/687234717fb9e022b469121d33582a5b821ed39d/profile.go#L74-L90), so it'd be suprising to also change the API config block because of that flag.

I think we'd probably want to look at inverting the logic around the

[2019-05-23 11:39] olizilla commented on #333
Proposal:

### `factory.spawn`
- Remove the `defaultAddrs` option. It assume that the module is primarly for testing, and that the user should opt in to get something closer to the default config that you'd get from starting the nodes manually.

### `IPFSFactory.create`
- Add a `defaultConfig` option that takes a valid ipfs config object. The factory instance will deep merge those values with the

[2019-05-23 11:54] olizilla commented on #333
@hugomrdias @alanshaw pls can have your thoughts

[2019-06-05 14:38] AkshitV opened #340 "How can i connect to private network, with swarm key, by using this, in a browser/ipfs-desktop?"

[2019-07-04 14:46] achingbrain commented on #331
Fixed in #353

[2019-07-04 14:48] achingbrain commented on #322
Aegir is on `19.0.4`, this can probably be closed.

[2019-07-04 15:06] #322 closed

[2019-07-04 16:05] achingbrain commented on #312
This should be fixed by #353 as it upgrades hapi to v18 which depends on `@hapi/cryptiles@4.2.0`

[2019-07-04 17:32] achingbrain opened #354 "`node.apiAddr` is different depending on the node type"
In-process JS nodes returned by `factory.spawn` have string `.apiAddr` properties, `go` or `js` daemons `.apiAddr` properties are multiaddr instances.

[2019-07-04 17:34] achingbrain commented on #354
E.g.

[code]

[code]

[2019-07-24 17:03] tapaswenipathak commented on #333
Hi folks, Can I work on the ticket?

[2019-07-24 17:03] tapaswenipathak commented on #326
Hi @peopeo, Can I work on the ticket?

[2019-07-24 17:23] olizilla commented on #333
@tapaswenipathak if you would like to contribute a PR with a fix for this issue that would be great!

@hugomrdias any thoughts on the proposed fix?

[2019-09-01 20:52] tapaswenipathak commented on #333
Hey @olizilla: I don't think I understand the proposed fix; per me the CORS should define per implementation the restriction leaving the core generic.

Do you mean IPFSFactory.create will take input from CLI?

Let me know if you have any finalised approach or leaving the issue for now.

[2019-09-13 09:34] achingbrain opened #374 "Remove or change the ipfs-http-client dependency?"
We bundle `ipfs-http-client` with this module, yet require implementations of `go-ipfs` and `js-ipfs` to either be passed to the factory (for in-proc nodes) or installed on the system for (daemon nodes).

This can lead to the situation where you have an `ipfs-http-client` that is incompatible with the `ipfs` version being used due to deps being out of date or miscellaneous API changes and conseque

[2019-09-18 06:47] achingbrain commented on #374
In the case of `1. Do nothing`, it adds a gotcha to the use of this module so we then have to continually explain to everyone that our module does the wrong thing by default and you should really not rely on the bundled `ipfs-http-client` and instead you should specify your own and etc etc etc...

[2019-09-18 07:45] achingbrain commented on #374
Here's someone discovering the mismatch on their own and encountering surprise: https://github.com/orbitdb/ipfs-log/pull/266#issuecomment-528622376

[2019-09-18 13:06] #276 closed

[2019-09-18 13:06] #305 closed

[2019-09-18 13:06] #330 closed

[2019-09-18 13:06] #354 closed

[2019-09-18 13:06] #329 closed

[2019-09-28 16:09] daviddias opened #385 "[COULD] Support spawning js-ipfs nodes from withing Service Workers and Web Workers"

[2019-10-14 15:03] hugomrdias opened #397 "Improve how in-proc handle ipfs constructor options"
Right now we need to manually synchronise ipfs constructor options in the in-proc daemon, we need to add another key on the options object specific to ipfs options so we can pass them directly without worrying about validation on the ipfs side.

refs:
https://github.com/ipfs/js-ipfsd-ctl/pull/396#issuecomment-541702689

[2019-11-05 18:45] daviddias commented on #208
@hugomrdias does this issue still apply?

[2019-11-06 10:25] hugomrdias commented on #208
not sure but i can guarantee in the next version this will not be a problem, already made tests for it

[2019-11-26 10:04] alanshaw opened #412 "TypeError: Cannot read property 'pid' of null"
[code]

[2019-12-11 16:08] #207 closed

[2019-12-11 16:08] #210 closed

[2019-12-11 16:08] #217 closed

[2019-12-11 16:08] #231 closed

[2019-12-11 16:08] #249 closed

[2019-12-11 16:08] #260 closed

[2019-12-11 16:08] #272 closed

[2019-12-11 16:08] #277 closed

[2019-12-11 16:08] #281 closed

[2019-12-11 16:08] #282 closed

[2019-12-11 16:08] #283 closed

[2019-12-11 16:08] #286 closed

[2019-12-11 16:09] #292 closed

[2019-12-11 16:09] #297 closed

[2019-12-11 16:09] #312 closed

[2019-12-11 16:09] #315 closed

[2019-12-11 16:09] #317 closed

[2019-12-11 16:09] #326 closed

[2019-12-11 16:09] #333 closed

[2019-12-11 16:09] #340 closed

[2019-12-11 16:09] #374 closed

[2019-12-11 16:09] #208 closed

[2019-12-11 16:09] #385 closed

[2019-12-11 16:09] #397 closed

[2019-12-11 16:09] #412 closed

[2019-12-11 23:58] lidel commented on #333
@hugomrdias just the record, how is CORS config handled in v1.0.x?

Was `"Access-Control-Allow-Origin": ["*"]` removed from default contexts?
If so, is it now set by Aegir, only in text contexts?

[2019-12-12 11:28] hugomrdias commented on #333
no, now only if you pass `test: true` you will get cors

[2020-01-20 16:59] alanshaw opened #438 "Daemon is no longer force killed"
I'm seeing hangs for `factory.clean()` with Go IPFS nodes in the interop tests.

We used to have: https://github.com/ipfs/js-ipfsd-ctl/blob/7928c1eee092a9b96a59328294c84c9f065217a3/src/ipfsd-daemon.js#L263-L275

Would be good to get a warning when force killing so we know that it is happening.

[2020-01-29 11:41] #438 closed

[2020-02-16 10:45] bluelovers opened #462 "api is null when `disposable: false`"
[code]

[2020-02-17 21:25] hugomrdias commented on #462
did you init/start the controller?
https://github.com/ipfs/js-ipfsd-ctl/blob/7c1b469d9f959cd646f6c0b100d64905baadb58c/README.md#L113

[2020-02-18 09:20] #462 closed

[2020-02-20 17:29] bluelovers opened #466 "TypeError: this.api.start is not a function when type is 'proc'"
[code]

[code]

[code]

[2020-02-20 17:37] hugomrdias commented on #466
can you please give more context on this issue, format your code better and review the options you are passing they seems off.

[2020-02-20 17:44] bluelovers commented on #466
![image](https://user-images.githubusercontent.com/167966/74962862-affb8c00-544b-11ea-896a-5a4950d6d21a.png)

![image](https://user-images.githubusercontent.com/167966/74962884-b853c700-544b-11ea-93ac-adc302d5d36d.png)

[2020-02-20 18:40] achingbrain commented on #466
If you pass `disposable: false` you need to ensure the node is initialised and started before you use it, so you need to call `await ipfsd.init()` before calling `await ipfsd.start()`.

https://github.com/ipfs/js-ipfsd-ctl#disposable-vs-non-disposable-nodes

As a separate issue the `this.api.start is not a function` error will be fixed by https://github.com/ipfs/js-ipfs/pull/2762

[2020-02-20 18:55] bluelovers commented on #466
![image](https://user-images.githubusercontent.com/167966/74968332-a0814080-5455-11ea-9428-adecaa5408c7.png)

i add `await ipfsd.init()`

but still get `NotInitializedError: not initialized`

[2020-02-20 19:23] achingbrain commented on #466
It works for me like this, though I think there is an API regression here in that the `init`/`start` invocations are inconsistent:

[code]

[2020-02-22 09:59] bluelovers opened #468 "sometime ipfs api file didn't delete when server stoped"
when `IPFD_PATH/api` file exists, Controller will never start and throw error

hope can fix this

the code for how i avoid this, but hope can have build-in way fix this
https://github.com/bluelovers/ws-ipfs/blob/master/packages/use-ipfs/lib/ctl.ts

[2020-02-22 10:17] #466 closed

[2020-03-06 03:27] sebastiendan opened #471 "Command failed with ENOENT: ipfs/src/cli/bin.js daemon... when spawing a js node from a factory"
Hi,

#458 introduced changes on how the js/go bin are resolved, but Usage on README was not updated, so took me a while before understanding I have to specify the bin path, the same way it's done in /examples.

When testing with:
[code]

I get the following error:

[code]

[2020-03-06 04:10] sebastiendan commented on #471
Besides the documentation issue, It seems the problem is coming from my environment: passing the path manually works.

[code]

My context is a NestJS (so NodeJS) app inside an [Nx](https://github.com/nrwl/nx) workspace.
That's my first project with Nx so I'll investigate for this part.

For now `require.resolve` just returns whatever string that is passed to it...

[2020-03-15 11:45] hugomrdias commented on #468
why are starting a new ipfs-http-client ? i really don't understand the situation , can explain further?

[2020-03-15 17:33] bluelovers commented on #468
it for test ipds is running or not

[2020-03-15 17:35] hugomrdias commented on #468
i dont understand what you mean

[2020-03-15 23:05] bluelovers commented on #468
hmm... i think u just need understand

`IPFD_PATH/api` sometime didn't delete when ipfs is stop
it make `js-ipfsd-ctl` can't start ipfs

don't care how i try avoid this happen

my point only

1. check `IPFD_PATH/api` is exists or not
2. if it exists, check ipfs is running or not
3. if ipfs is not running, delete `IPFD_PATH/api`
4. start ipfs

[2020-03-16 09:25] hugomrdias commented on #468
I cannot reproduce this, just think about it the tests wouldn't work if this happened, ipfs tests use ctl would not work also, ipfs-http-client tests would not work.
Either you can produce a **minimal** repo where this happens or I'm gonna close this issue.

[2020-03-16 11:04] bluelovers commented on #468
it is random happen

[2020-04-14 12:03] hugomrdias commented on #471
readme docs and types were improved to explain this better.

[2020-04-14 12:03] #471 closed

[2020-04-17 12:26] hacdias opened #497 "IPFS_PATH is no longer used after 1.x"
While finally trying to upgrade IPFS Desktop to CTL 3.x, I noticed every test where we were setting the `IPFS_PATH` env var were failing and then looked at the code.

Before 1.0, `ipfsd-ctl` was using the parent process IPFS_PATH variable if it was set:

[code]

Right now, the only place where that variable is mentioned doesn't seem to use the parent's process:

[code]

/cc @hugomrdias

[2020-04-17 12:57] hacdias opened #500 "initialized not set after spawning"
The `initialized` variable is defined as `false` in the constructor and it is never updated unless we call `init`.

https://github.com/ipfs/js-ipfsd-ctl/blob/f8decb34d8e1ccfdf79e042d98168dd01746aea0/src/ipfsd-daemon.js#L81-L86

I think calling `repoExists` in the constructor would be better to set the `initialized` variable. This way there's no way to check if the repository already existed withou

[2020-04-20 14:25] hugomrdias commented on #500
repoExists is async can't be called in the contructor, can you explain further your use case ?

[2020-04-20 14:48] #468 closed

[2020-04-20 14:50] #497 closed

[2020-04-20 14:57] hacdias commented on #500
Previously, on IPFS Desktop, we were checking if the repository was initialized or not to take certain actions. By updating to 3.x we're changing that logic a bit and checking if the config exists or not so we won't be needing the `initialized` variable to be set right away.

However, for someone that might want to do something depending on whether or not the repository is already initialized or n

[2020-04-20 15:13] hugomrdias commented on #500
that only works in node, repoExists is always async in the browsers.

it would be better to expose repoExists than to use `initialized` for this but thats another issue.

please re-open if you think this needs more discussion

[2020-04-20 15:13] #500 closed

[2020-04-20 20:27] hacdias opened #501 "aegir being used as regular dependency"
`aegir` is a [dev dependency](https://github.com/ipfs/js-ipfsd-ctl/blob/master/package.json#L66) being used as a regular [dependency](https://github.com/ipfs/js-ipfsd-ctl/blob/master/src/endpoint/server.js#L4) which breaks anything that requires ipfsd-ctl but does not use aegir 😢

/cc @hugomrdias

[2020-04-20 23:03] #501 closed

[2020-04-26 22:24] mistakia opened #502 "HTTPError: Bad Request when spawning go daemon inside electron process"
Getting an error when trying to run this in an electron renderer process and running the electron example produces the same errors.

[code]
**versions**
[code]

[2020-04-27 07:26] haurx opened #503 "webpack_require(...).path is not a function"
error:
**TypeError: __webpack_require__(...).path is not a function
      at getIpfsBinPath (webpack:///./src/main/daemon/daemon.js?:141:92)
      at _callee2$ (webpack:///./src/main/daemon/daemon.js?:74:24)**

function getIpfsBinPath () {
  return require('go-ipfs-dep').path().replace('app.asar', 'app.asar.unpacked')
}

async function cleanup (ipfsd) {
  const log = logger.start('[daemon] cleanup

[2020-04-27 12:19] achingbrain commented on #502
Can you try pinning the `go-ipfs-dep` version to `0.4.23-3` please?  It's later than `0.4.23` but npm doesn't resolve it as such.

Really it should have been released as `0.5.0` (or preferably `1.0.0`) but for some reason people want to keep the version of that module tied to the `go-ipfs` version it downloads by default.

[2020-04-27 13:25] mistakia commented on #502
hmm - I have since resolved the issue in my project by looking at the [ipfs-desktop](https://github.com/ipfs-shipyard/ipfs-desktop) implementation, which has `go-ipfs-dep` pinned at `0.4.23-3`. The only material changes I made in my project are using the same versions being used in `ipfs-desktop` (`go-ipfs-dep@0.4.23-3 ipfs-http-client@44.0.0 ipfsd-ctl@4.0.1`) so I'm assuming that was part of the

[2020-04-29 17:26] aphelionz opened #505 "AlreadyInitializedError: cannot re-initialize an initialized node"
Right now I'm trying to wire up https://github.com/orbitdb/orbit-db-test-utils with `js-ipfs@^0.43.0` and `go-ipfs@0.5.0`

Go IPFS is requiring the keys to be 2048 bits or larger, so I added the `init` configuration to the `proc` node like so:

[code]

However, I get this error during the tests when trying to start a `proc` node:

[code]
**Further context:**
1. You can see all my latest code in th

[2020-04-29 19:18] achingbrain commented on #503
I think you have an old version of `go-ipfs-dep` as a dependency - please use `0.4.23-3` (not `0.4.23`) or `0.5.0`.

[2020-05-01 14:24] aphelionz commented on #505
Looks like this is being addressed here: https://github.com/ipfs/js-ipfs/pull/3013

[2020-05-04 12:00] achingbrain commented on #505
You may be able to get a bit further now that https://github.com/ipfs/js-ipfsd-ctl/pull/504 has been merged & released as the key size isn't hard-coded any more so you can remove the `init: { bits: 2048 },` bit of the config, which should stop the `cannot re-initialize an initialized node` (which should be resolved by https://github.com/ipfs/js-ipfs/pull/2762 if I can find some time to get it into

[2020-05-04 13:52] aphelionz commented on #505
4.1.0 works! I am unblocked.

[2020-05-04 13:52] #505 closed

[2020-05-23 19:40] tymmesyde commented on #502
I think it's because of the `remote` option, you have to set it to `false`.
Apparently, it should automatically be set to `false` if it recognizes that it is in a node environment but does not seem to work.

[2020-07-15 16:54] leonardge opened #521 "api.files.mv API can't terminate?"
I am running the following code:
[code]
But I am not sure why the command never terminate. The temp path has the following stats:
[code]
So I assume the operation should complete rather quickly?

[2020-07-16 15:01] jacobheun commented on #521
Can you provide some more reproducible information for this? What is at tempPath? What's in destPath?

Can you show us your configuration for the controller? Is this code pushed anywhere?

[2020-07-20 09:55] koivunej opened #525 "interface-ipfs-core with patched ipfsd-ctl 3.0.0 leaves a lot of PIPEWRAP behind"
We recently had mac and windows builds start hanging on the "conformance" tests (just interface-ipfs-core for now). I've added why-is-node-running in https://github.com/rs-ipfs/rust-ipfs/pull/251 (on 60s unref'd timer once mocha finishes) and it seems that for 155 passing tests there are 90 PIPEWRAP instances (possibly) blocking node from exiting.

This is the log of the first run hanging run: htt

[2020-07-20 10:36] leonardge commented on #521
I think it is safe to close this issue now. It actually terminates, but
it's the later step that hangs. Thanks!

On Thu, Jul 16, 2020 at 4:01 PM Jacob Heun <notifications@github.com> wrote:

--
Leonard Ge
Software Engineer Intern - Confluent

[2020-07-20 10:41] koivunej commented on #525
Still hanging without the DNSCHANNEL, so I am guessing that the cleanup fails. However it is strange that there are no test failures because of it nor and no how to isolate these hangs.

[2020-07-20 11:51] koivunej commented on #525
Tried to add a `await this.subprocess` after https://github.com/ipfs/js-ipfsd-ctl/blob/master/src/ipfsd-daemon.js#L250 (the api.stop()) call and it seems to cause the PIPEWRAPs to go away, which sounds quite natural. Trying to see if this helps to identity the hanging test case in our builds.

[2020-07-20 12:25] koivunej commented on #525
Awaiting for the subprocesses definitely helps. Now there's only 8 left on our latest windows build with a hack patch to just `await this.subprocess` on src/ipfsd-daemon.js after `this.api.stop()` call. Latest log: https://github.com/rs-ipfs/rust-ipfs/pull/251/checks?check_run_id=889710656#step:17:4268

[2020-07-23 14:03] jacobheun commented on #525
@hugomrdias can you take a look at this?

[2020-07-23 14:37] #521 closed

[2020-10-26 16:14] rafaelramalho19 opened #556 "NULL API fatal error"
## Description:
- When restarting the computer, or some similar use-case where the API is not initialized yet for some reason, ipfsd-ctl throws a fatal error:

[code]

Linked with: https://github.com/ipfs-shipyard/ipfs-desktop/issues/1702

[2020-10-26 20:34] achingbrain commented on #556
That code has been refactored recently, can you please try with the latest version?

[2020-12-14 15:59] vasco-santos opened #577 "Debug stdout proc daemon"
The debug for `proc` spawn daemons seems to not be working. I was debugging `ipfs-interface-core` tests and `go` daemons are putting the output into the Debugger but running `proc` daemons are not logging anything.

[2021-01-21 19:55] geolffreym opened #586 "Electron + electron-builder windows asar"
Hi guys
Having same issue trying package https://github.com/ipfs/notes/issues/256

[2021-01-22 16:22] achingbrain commented on #586
What's the issue you're having?

[2021-01-22 18:46] geolffreym commented on #586
Think its related to symlink to go-ipfs in windows, now using as peerDependencies and installing with window-elevate look it working for now..

[2021-01-22 19:05] achingbrain commented on #586
Glad you figured it out!

[2021-01-22 19:05] #586 closed

[2021-01-23 09:33] raphael10-collab opened #587 "The line const Ctl = require('ipfsd-ctl'); causes : "Your browser does not have secure random generator"
In an Electron app when I activate this line:

    const Ctl = require('ipfsd-ctl');

I get the following error message:

    A JavaScript error occurred in the main process
    Uncaught Exception:
    Error: Your browser does not have secure random generator. If you don’t need unpredictable IDs, you
    can use nanoid/non-secure.
        at Module../node_modules/nanoid/index.browser.js (/home/mar

[2021-01-28 16:23] jacobheun commented on #503
Closing, please reopen if you are still having this problem.

[2021-01-28 16:23] #503 closed

[2021-02-23 18:21] hugomrdias commented on #587
https://github.com/ai/nanoid#react-native

[2021-02-23 18:21] #587 closed

[2021-04-12 17:00] koivunej commented on #525
With #526 now closed after a long while, I think this could be closed as a sort of invalid report. While it's undeniable that these used to happen on github ci builds, I haven't tried out if they happen for example after the ubuntu 20.04 upgrade.

[2021-04-26 14:46] lidel commented on #577
Assuming solved in the latest aegir, please reopen if still the case.

[2021-04-26 14:46] #577 closed

[2021-06-07 14:42] lidel commented on #525
Assuming #526  closed the problem, please fill a new one with more actionable details if you feel the variant of this problem is still present.

[2021-06-07 14:42] #525 closed

[2021-07-07 16:32] denyncrawford opened #640 "Error: 404 on all server endpoints"
I'm working with electron and trying to implement the controller, I did a very similar thing as in your electron example [here](https://github.com/ipfs/js-ipfsd-ctl/blob/08eb574b895459b8f844973c5025e827bd6936f0/examples/electron-asar/app.js#L25), the controller is not connecting to the server and shows this errors con devtools (ignore vue warn):

![image](https://user-images.githubusercontent.com/

[2021-07-10 18:34] #640 closed

[2021-07-10 18:49] denyncrawford opened #645 "Non-disposable node not working if repo exists"
I'm having some troubles with my electron app, I need to create a non-disposable node, and when I set this option to false, it never connects to the api unless I delete the .ipfs repo that is in my profile or home directory.

**When i delete the repo, my app works and it connects** but if i restart the app it never does and shows this error:

![image](https://user-images.githubusercontent.com/2884

[2021-09-24 14:54] BigLep commented on #645
@lidel will point to example that works with ipfs-desktop.

[2021-09-24 15:06] lidel commented on #645
@denyncrawford check if any of the below helps:

- ipfs-desktop does very similar thing, take a look at https://github.com/ipfs/ipfs-desktop/blob/4b989b135901f585c752e93c0d706bd2df20e72b/src/daemon/daemon.js#L42-L51
  - you can see we define `repo:` location which you seem to be missing
  -  I also noticed you have `init: true` and then you init it again manually via an explicit `await ipfsd.init(

[2021-09-27 15:38] denyncrawford commented on #645
@lidel Nope, even defining the repo and removing init and start from the ipfsOptions it still doesn't work if my app crash or it is closed incorrectly. I'm running the controller on render process with node integration and running it on main process doesn't work either.
![code](https://user-images.githubusercontent.com/28849055/134939695-4f294eea-a051-4d5c-a627-949b8206ee14.png)
This is my code ri

[2021-10-01 17:22] lidel commented on #645
@denyncrawford  I see you are calling `ipfsd.api.stop()` instead of `ipfsd.stop()`  – you should use the latter.
Historically there were Electron bugs where `before-quit` event was not called correctly (example: https://github.com/electron/electron/issues/9613)  – unlikely, but those things happen.

I'm closing this, as there is no reproduction steps.
In the future please provide source code with

[2021-10-01 17:22] #645 closed

[2022-02-22 01:47] yingshaoxo commented on #640
@denyncrawford

Hi, why did you close this repo?

How do you solve it in the end?

[2022-02-22 02:09] denyncrawford commented on #640
Please follow this https://github.com/denyncrawford/mismor-main/blob/d145bc1305147781544990ca37df8862063ac65b/src/render/store.js#L18 just create a controller with a client and pass it a binary (jsipfs or ipfs-go), then remember to init and start IPFS before exporting the API.

[2022-03-03 18:17] SgtPooki opened #721 "Need to trap JSON.parse and emit more informative error on parse failure"
https://github.com/ipfs/ipfs-desktop/issues/2004 and https://github.com/ipfs/ipfs-desktop/issues/2000 show that a JSON parse error happened, which points to https://github.com/ipfs/js-ipfsd-ctl/blob/70dff97afc5a194afc106b817b98575f8b122723/src/ipfsd-daemon.js#L366

we should wrap the json.parse in a try/catch and provide a more informative error message:

1. What is the value of `stdout`
2. What i

[2022-03-29 06:25] poolsar42 opened #723 "Proper error propagation"
Hello Everyone,

It's a simple (I hope) issue to fix: Proper error throwing and handling when `config` object in `ipfsOptions` isn't right.

Today I was trying to set a constructor, and used following:
`ipfsOptions: {
        config: {
          Datastore: {
            StorageMax: '35GB',
            StorageGCWatermark: '99',
          },
      },
}
`
Here, you can see I was trying to set `Storag

[2022-03-29 06:27] poolsar42 commented on #723
Huh, I think this issue is duplicate from a previous one

I'll keep it just in case

[2022-08-09 15:02] pleerock opened #760 "doesn't properly work in Electron"
As we know in electron there two processes: renderer (browser) and main (node.js). When I use library in main process I expect it to behave the same way as I used in node.js. However it doesn't work this way and it requires "server" (I'm talking about createServer) to be created. Looks like it treats a main process as browser and tries to work like in a browser?

[2022-08-09 15:18] pleerock commented on #760
Okay so looks like check

[code]

comes as `false` and `remote` is set to `true` by default. If we specify custom `remote: false` in options it works as expected.

[2022-08-18 16:35] RangerMauve opened #763 "What are the steps for running multiple instances?"
Hey there, I'm trying to spawn multiple instances at once so that they can interact with each other to test pubsub.

I've tried setting the apiAddr and gatewayAddr to separate ports, but I consistently get an error saying that the swarm port is already in use.

Are there any examples or docs that show how to work around this?

[2022-08-18 18:44] #763 closed

[2022-09-02 15:27] #760 closed

[2022-10-13 21:03] pleerock opened #780 "how to provide a custom libp2p instance?"
I expected something like this is going to work:

[code]

but "libp2p" option is being ignored. Maybe types are wrong and there is another way how to provide a custom libp2p instance implementation?

[2022-10-14 14:35] achingbrain commented on #780
When the `type` of the controller is `go` we shell out to [kubo](https://github.com/ipfs/kubo) which cannot use `js-libp2p` in this fashion.

This could be improved by checking the value of `ipfsOptions` and throwing an error if any options are passed that are incompatible with the style of daemon being created.  The `libp2p` option for example would only work with an [in-proc](https://github.com/

[2022-10-14 18:39] pleerock commented on #780
Because of this issue I had to switch to `ipfs-core` for now. If I'll return back to this package, I'll consider to add this improvement

[2022-10-15 22:58] pleerock commented on #780
And what is the point to use `proc` mode? If I can directly use `js-ipfs` package? I'm trying to understand the motivation behind this option.

[2022-10-16 11:27] achingbrain commented on #780
The point of this module is to be able to seamlessly switch between go, and js implementations, and for js as in-process or running as a separate process.

This is useful for testing compatibility between the different implementations.

If your only requirement is to have an IPFS node as part of your app, you should use ipfs-core directly.

[2022-10-19 01:08] #721 closed

[2022-10-21 15:17] poolsar42 commented on #723
@SgtPooki nice! Let's close this issue for now, I'll open new one if something wrong

[2022-10-21 15:17] #723 closed

[2022-10-31 00:11] #780 closed

[2022-11-02 00:10] #556 closed